<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

    <title>Géoportail</title>
  </head>
  <body>
      <div class="app">
          <div id="blueBg" class="d-none"></div>
          <%= require('html-loader!./carto.html').default %>
          <%= require('html-loader!./mapButtons.html').default %>

          <div id="bottomMenu">

            <hr id="hrBottom">

            <%= require('html-loader!./defaultBottomMenu.html').default %>
            <%= require('html-loader!./catalog.html').default %>

            <%= require('html-loader!./directionsWindow.html').default %>
            <%= require('html-loader!./directionsResultsWindow.html').default %>
            <%= require('html-loader!./infoWindow.html').default %>
            <%= require('html-loader!./legendWindow.html').default %>
            <%= require('html-loader!./isochroneWindow.html').default %>
            <%= require('html-loader!./mypositionWindow.html').default %>

          </div>

          <div class="d-none" id="altMenuContainer">
            <%= require('html-loader!./parameterMenu.html').default %>
            <%= require('html-loader!./legalMenu.html').default %>
            <%= require('html-loader!./privacyMenu.html').default %>
            <%= require('html-loader!./plusLoinMenu.html').default %>
          </div>
      </div>
  </body>
</html>
