<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

    <title>IGN M'app</title>
  </head>
  <body>
      <!-- background color -->
      <div id="whiteScreen" class="d-none"></div>

      <div class="app">

          <!-- Cartographie avec ses boutons sur la carte :
            - gestionnaire de couche
            - geolocalisation
            - echelles
            - ...
          -->
          <%= require('html-loader!./map.html').default %>
          <%= require('html-loader!./mapButtons.html').default %>

          <!-- Outil de recheche sur la carte -->
          <%= require('html-loader!./search.html').default %>

          <!-- Menu de navigation -->
          <%= require('html-loader!./nav.html').default %>

          <!-- Toutes les informations sont affichées dans un onglet resizable
            et ancré en bas de l'écran.
          -->
          <div id="tabContainer">
            <div id="tabHeader"></div>
              <%= require('html-loader!./tabs/layermanagerWindow.html').default %>
              <%= require('html-loader!./tabs/directionsWindow.html').default %>
              <%= require('html-loader!./tabs/directionsResultsWindow.html').default %>
              <%= require('html-loader!./tabs/isochroneWindow.html').default %>
              <%= require('html-loader!./tabs/routeDrawWindow.html').default %>
              <%= require('html-loader!./tabs/routeDrawSaveWindow.html').default %>
              <%= require('html-loader!./tabs/positionWindow.html').default %>
              <%= require('html-loader!./tabs/informationsWindow.html').default %>
              <%= require('html-loader!./tabs/poiWindow.html').default %>
              <%= require('html-loader!./tabs/comparePoiWindow.html').default %>
              <%= require('html-loader!./tabs/compareLayers1Window.html').default %>
              <%= require('html-loader!./tabs/compareLayers2Window.html').default %>
              <%= require('html-loader!./tabs/signalementWindow.html').default %>
              <%= require('html-loader!./tabs/landmarkWindow.html').default %>
          </div>

          <!-- Autres menus alternatifs -->
          <div class="d-none" id="altMenuContainer">
            <%= require('html-loader!./alt-menu/searchresultsWindow.html').default %>
            <%= require('html-loader!./alt-menu/myaccountWindow.html').default %>
            <%= require('html-loader!./alt-menu/informationsMenu.html').default %>
          </div>
      </div>
  </body>
</html>
