<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.ign.geoportail" version="1.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Géoportail</name>
    <description>
      Géoportail, le portail des territoires et des citoyens !
      Visualisez l'information géographique de référence sur le territoire national.
      Photographies aériennes, cartes contemporaines (dont les cartes topographiques IGN), cartes anciennes, composantes du référentiel géographique à grande échelle et parcelles cadastrales sont accessibles directement depuis votre mobile ou votre tablette.
    </description>
    <author email="ecom@ign.fr" href="http://www.geoportail.gouv.fr">
        IGN - Géoportail
    </author>
    <icon src="www/img/apple-touch-icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
          <string>Nécessite la géolocalisation pour centrer la carte sur l'utilisateur</string>
        </edit-config>
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.4" />
</widget>
