<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.ign.geoportail" version="3.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Géoportail</name>
    <description>
      L’application Géoportail réunit les 8 cartes et données les plus plébiscitées par les utilisateurs du Géoportail, le portail de l’information géographique de référence sur le territoire national.
    </description>
    <author email="ecom@ign.fr" href="http://www.geoportail.gouv.fr">
        IGN - Géoportail
    </author>
    <icon src="www/img/apple-touch-icon.png" />
    <preference name="loadUrlTimeoutValue" value="100000" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <resource-file src="res/xml/network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
        <resource-file src="res/certificates/certigna.crt" target="app/src/main/res/raw/certigna.crt" />
4
        <allow-intent href="market:*" />
        <hook src="remove_permissions.js" type="after_prepare" />
        <preference name="OverrideUserAgent" value="GeoportailAppAndroid" />
        <splash density="hdpi" src="res/screen/android/splash2732x2732.png" />
        <splash density="ldpi" src="res/screen/android/splash2732x2732.png" />
        <splash density="mdpi" src="res/screen/android/splash2732x2732.png" />
        <splash density="xhdpi" src="res/screen/android/splash2732x2732.png" />
        <splash density="xxhdpi" src="res/screen/android/splash2732x2732.png" />
        <splash density="xxxhdpi" src="res/screen/android/splash2732x2732.png" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="ShowSplashScreenSpinner" value="false" />
        <preference name="android-targetSdkVersion" value="31" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
    </platform>
    <platform name="browser">
        <preference name="SplashScreenDelay" value="0" />
        <preference name="ShowSplashScreen" value="false" />
    </platform>
    <platform name="ios">
        <preference name="OverrideUserAgent" value="GeoportailAppIOS" />
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>Nécessite l'accès à la géolocalisation pour centrer la carte sur l'utilisateur</string>
        </edit-config>
        <preference name="WKWebViewOnly" value="true" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
</widget>
