#altMenuContainer {
  z-index: 3001;
  height: auto;
  top: calc(68px + env(safe-area-inset-top));
  display: flex;
  width: 100%;
  position: absolute
}

.altMenu {
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  color: #3F4A55;
  width: 100%;
  font-size: 1.1em;
  flex-direction: column;
}

.altMenu div {
  border: 0px solid #D6D6D6;
  border-radius: 5px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.altMenu b {
  font-family: 'Open Sans Semibold';
}

#legalScreenWindow, #privacyScreenWindow {
  font-family: 'Open Sans';
}

#legalScreenWindow a {
  color: #0B6BA7;
}

.headerText {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  background-color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
}

/* mode paysage et écrans larges */
@media (min-width: 615px), screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  #altMenuContainer {
    width: calc(100vw - 75px - env(safe-area-inset-left));
    left: calc(75px + env(safe-area-inset-left))
  }
}
