#otherMenus {
  margin-top: 25px;
  display: grid;
}

#menuItemLegal {
  grid-row: 1;
  grid-column: 1;
  margin-bottom: 5px;
}


#menuItemPrivacy {
  grid-row: 2;
  grid-column: 1;
}

#menuItemParams {
  grid-column: 2;
  grid-row: 1 / span 2;
  text-align: right;
}

#menuItemParamsIcon {
  background-image: url("assets/settings.svg");
  margin-top: 23px;
  padding-right: 15px;
}

#menuItemParams {
  margin-bottom: 0 !important;
  margin-top: -7px;
}

.smallMenuItem {
  font-family: 'Open Sans';
}

.menuItemIcon {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 5px -3px 5px;
}

#menuItemLegal, #menuItemPrivacy {
  text-decoration: underline;
  padding-left: 15px;
}

#altMenuContainer {
  z-index: 3001;
  height: auto;
  top: 68px;
  display: flex;
  width: 100%;
  position: absolute
}

.altMenu {
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  color: #4b4b4b;
  width: 100%;
  font-size: 1.1em;
  flex-direction: column;
}

.altMenu div {
  border: 0px solid #D6D6D6;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.altMenu b {
  font-family: 'Open Sans Semibold';
}

#legalScreenWindow, #privacyScreenWindow {
  font-family: 'Open Sans';
}

#legalScreenWindow a {
  color: #0B6BA7;
}

.headerText {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translate(-50%);
  color: #555;
  background-color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
}

#ignRandoLogo {
  border-radius: 25px;
}

#imgIgnRandoPlayStore {
  width: 155px;
}

#imgIgnRandoAppStore {
  padding: 10px;
}

#gppLogo {
  margin-top: 23px;
}
