#altMenuContainer {
  z-index: 3001;
  height: auto;
  top: calc(72px + var(--safe-area-inset-top));
  display: flex;
  width: 100%;
  position: absolute
}

.altMenu {
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--dark-grey);
  font-size: 1.1em;
  flex-direction: column;
}

.altMenu b {
  font-family: 'Open Sans Semibold';
}

#informationsScreenWindow {
  font-family: 'Open Sans';
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  overflow-x: clip;
}

#informationsScreenWindow > div {
  width: 100vw;
  flex-shrink: 0;
  padding: 0 10px;
  box-sizing: border-box;
  transition: margin 0.5s ease;
}

.informationsItems {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.informationsItems > div {
  border-bottom: 1px solid var(--grey-2);
  font-family: "Fira Sans Semibold";
  font-size: 15px;
  padding: 15px 0;
  margin: 0 15px;
  background-image: url("assets/route-draw/chevron_right.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: right;
}

.informationsItems > .informationsItemsLink {
  background-image: none;
  text-decoration: underline;
}

.newsfeedItemLink,
.informationsItemsLink > a {
  color: var(--dark-grey);
}

.newsfeedItemLink::after,
.informationsItemsLink > a::after {
  content: "";
  display: inline-block;
  background-image: url("assets/external-link.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -2px;
  width: 1.8em;
  height: 1em;
}

.headerText {
  color: var(--dark-grey);
  text-align: center;
  margin-top: 0;
  font-size: 17px;
  font-family: "Fira Sans Semibold";
}

.informationsContent {
  font-size: 13px;
  margin-top: -72px;
}

.informationsContent > div {
  padding: 0 10px var(--safe-area-inset-bottom) 10px;
}

.informationsContent h3 {
  color: var(--dark-grey);
  padding-left: 5px;
  font-size: 13px;
  font-family: "Fira Sans Semibold";
}

.informationsContentHeader {
  color: var(--dark-grey);
  width: calc(100vw - 100px);
  font-family: "Fira Sans Medium";
  font-size: 18px;
  border-bottom: 1px solid var(--grey-2);
  padding: 20px 0 20px 60px;
}

.newsfeedItemImg {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.newsfeedItemContent {
  font-family: "Open Sans";
  font-size: 12px;
}

.newsfeedItem {
  margin: 20px 0;
}


/* mode paysage et écrans larges */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  #altMenuContainer {
    width: calc(100vw - var(--safe-area-inset-left) - var(--safe-area-inset-right));
    left: calc(var(--safe-area-inset-left))
  }
}
