/* Boutons */
input[type=radio]{
  /* hide original inputs */
  visibility: hidden;
  position: absolute;
}

input[type='radio'] + label:before {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #0B6BA7;
    margin-right: 10px;
    vertical-align: middle;
}

input[type='radio']:checked + label:before {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #0B6BA7;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #0B6BA7;
    box-shadow: inset 0 0 0 2px white;
    margin-right: 10px;
    vertical-align: middle;
}
