:root {
  --light-grey: #E9ECEF;
  --grey-2: #DDE1E6;
  --grey: #B8BCC1;
  --mid-grey: #788089;
  --dark-grey: #3F4A55;
  --light-green: #E3F5EF;
  --dark-green: #26A581;
  --false-white: #F4F6F8;
  --orange: #F18345;
}
