#comparePoiWindow {
  display: flex;
  flex-direction: column;
}

.comparePoiTitle {
  margin: 12px 0;
  font-size: 17px;
  font-family: "Fira Sans Medium";
  display: flex;
  padding-left: 5px;
  gap: 14px;
  align-items: center;
}

#comparePoiWindow .divPositionTitleWrapper {
  margin-bottom: 0;
}

.comparePoiLocationWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comparePoiLocation {
  font-family: "Open Sans Semibold";
  font-size: 12px;
  padding-left: 38px;
  background-image: url("assets/autocompresult.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left center;
  height: 37px;
  display: flex;
  align-items: center;
}

.comparePoiLocation:empty::after {
  display: block;
  content: "";
  height: 30px;
  width: 30px;
  background-size: 15px;
  background-image: url("assets/loading-darkgrey.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.comparePoiButton {
  color: white;
  background-color: var(--dark-green);
  border-radius: 100px;
  padding: 10px 17px 10px 35px;
  background-image: url("../html/img/compare-s.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 8px 6px;
  width: fit-content;
  align-self: end;
  margin-left: 20px;
}

.comparePoiText {
  border-top: 1px solid var(--grey-2);
  font-family: "Open Sans";
  margin-top: 10px;
  padding-top: 10px;
}

.comparePoiLocationWrapper:has(.comparePoiLocation:empty) + .comparePoiText {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
