.layerSelectorDiv {
  height: 54px;
  margin-top: 0px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layerSelectorDiv > .toggleSwitch {
  margin: 0 12px;
}

.layerSelectorDiv > .toggleSwitch > .toggleSlider {
  background-color: var(--dark-green);
}

.subCategoryRLTLayer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.subCategoryRLTLayer .layer .layerImg img {
  width: calc(100% - 4px);
  aspect-ratio: 3 / 2;
  object-fit: cover;
  display: block;
}

.rltLayer {
  display: inline-block;
  width: 40%;
  margin-bottom: 10px;
}

.rltLayer > .layer-title {
  font-size: 12px;
}

.maplibregl-compare {
  position: fixed;
}

.maplibregl-compare > .compare-swiper-vertical {
  background-color: white;
  background-image: url(assets/map-buttons/compare/compare-slider.svg);
  background-position: center;
  background-repeat: no-repeat;
  touch-action: none;
}

.maplibregl-compare .compare-swiper-vertical::after {
  content: "";
  display: block;
  padding: 125px 20px;
  transform: translate(0, -85px);
}

.maplibregl-compare > .compare-swiper-horizontal {
  transform:rotate(90deg) translate(0, 50%);
  background-color: white;
  background-image: url(assets/map-buttons/compare/compare-slider.svg);
  background-position: center;
  background-repeat: no-repeat;
  touch-action: none;
}

.maplibregl-compare .compare-swiper-horizontal::after {
  content: "";
  display: block;
  padding: 125px 30px;
  transform: translate(0, -95px);
}
