/***********************************
 * controle de calcul d'itinéraire
 ***********************************/

/*
 * compute
 */
.btnDirectionsCompute {
  display: block;
  margin: auto;
  border: none;
  border-radius: 70px;
  background-color: #26a581;
  padding: 14px 28px;
  font-family: "Fira Sans-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 236px;
  margin-top: 26px;
}

/*
 * checkboxes
 */
.divDirectionsTransport input[type="radio"], .divDirectionsComputation input[type="radio"] {
  display: none;
}

.divDirectionsTransport *, .divDirectionsComputation * {
  z-index: 2;
}

.divDirectionsTransport, .divDirectionsComputation {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin: auto;
  height: 34px;
  width: 220px;
  background-color: #E9ECEF;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
  padding: 8px;
  border-radius: 100px;
  margin-bottom: 10px;
  align-items: center;
}

.lblDirectionsTransport, .lblDirectionsComputation {
  color: #788089;
  padding-left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 120px;
  border-radius: 100px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  background-repeat: no-repeat;
  background-size: 20px 25px;
  background-position: 12px 3px;
  font-family: "Open Sans";
}

.lblDirectionsComputation {
  padding: 0;
}

.divDirectionsTransport input[type="radio"]:checked + label, .divDirectionsComputation input[type="radio"]:checked + label {
  color: white;
}

.divDirectionsTransport input[id="directionsTransportVoiture"]:checked ~ .sliderDirections,
.divDirectionsComputation input[id="directionsComputationShortest"]:checked ~ .sliderComputation {
  transform: translateX(58px);
}

.divDirectionsTransport input[id="directionsTransportPieton"]:checked ~ .sliderDirections,
.divDirectionsComputation input[id="directionsComputationFastest"]:checked ~ .sliderComputation {
  transform: translateX(-58px);
}

.sliderDirections, .sliderComputation {
  position: absolute;
  display: flex;
  height: 44px;
  width: 115px;
  background-color: #26A581;
  z-index: 1;
  border-radius: 100px;
  transition: 0.25s ease-out;
}

#directionsTransportVoiture + label {
  background-image: url("assets/directions/voiture.svg");
}

#directionsTransportVoiture:checked + label {
  background-image: url("assets/directions/voiture-s.svg");
}

#directionsTransportPieton + label {
  background-image: url("assets/directions/pieton.svg");
}

#directionsTransportPieton:checked + label {
  background-image: url("assets/directions/pieton-s.svg");
}

/*
 * locations
 */

#divDirectionsLocationsList {
  width: 95%;
}

.divDirectionsLocations {
  display: flex;
  flex-direction: column;
}

.divDirectionsLocationsItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.divDirectionsLocationsDefault {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 10px;
}

.lblDirectionsLocations {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.inputDirectionsLocations {
  position: relative;
  width: 265px;
  height: 45px;
  margin: 4px;
  padding-left: 15px;
  padding-right: 25px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #DDE1E6;
  color: #3F4A55;
}

.handle-draggable-layer {
  position: relative;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("./assets/drag-and-drop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

#directionsLocationImg_first {
  background-image: url("assets/directions/location-first.svg");
}
#directionsLocation_start {}

.lblDirectionsLocationsImg_middle {
  background-image: url("assets/directions/location-step.svg");
}

.lblDirectionsLocationsRemoveImg{
  background-image: url("assets/directions/location-step-remove.svg");
  border-radius: 25px;
  border: 1px solid #DDE1E6;
  flex-shrink: 0;
  background-position: 1px 1px;
}

#directionsLocationImg_last {
  background-image: url("assets/directions/location-last.svg");

}
#directionsLocation_end {}

#directionsLocationImg_last:before, .lblDirectionsLocationsImg_middle:before {
  content: "";
  display: block;
  background-image: url("assets/directions/location-between.svg");
  width: 25px;
  height: 25px;
  transform: translateY(-30px);
  background-repeat: no-repeat;
  background-position: 10px;
}

#directionsLocationImg_reverse {
  width: 40px;
  height: 40px;
  background-image: url("assets/directions/location-reverse.svg");
}

.divDirectionsLocationsStep {
  display: flex;
  margin: auto;
  padding: 10px;
  font-family: "Open Sans";
}

#directionsLocationImg_step {
  display: flex;
  width: 180px;
  height: 40px;
  justify-content: space-around;
  background-image: url("assets/directions/location-step-add.svg");
  line-height: 40px;
  background-position-y: 9px;
  color: #3F4A55;
}

