/***********************************
 * controle de calcul d'itinéraire
 ***********************************/

/*
 * compute
 */
.btnDirectionsCompute {
  appearance: unset; /* for ios */
  display: block;
  margin: auto;
  border: none;
  border-radius: 70px;
  background-color: var(--dark-green);
  padding: 14px 28px;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 236px;
  margin-top: 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
}

.btnDirectionsCompute.loading {
  background-image: url(assets/loading-white.svg)
}

/*
 * checkboxes
 */
.divDirectionsTransport input[type="radio"], .divDirectionsComputation input[type="radio"] {
  display: none;
}

.divDirectionsTransport *, .divDirectionsComputation * {
  z-index: 2;
}

.divDirectionsComputation {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: auto;
  height: 34px;
  width: 17rem;
  max-width: calc(100% - 16px);
  background-color: var(--light-grey);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
  padding: 8px;
  border-radius: 100px;
  margin-bottom: 10px;
  align-items: center;
}

.divDirectionsTransport {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin: auto;
  height: calc(50px + 1rem);
  width: calc(100% - 46px);
  padding: 8px;
  border-radius: 100px;
  margin: 0 15px 10px 15px;
  align-items: center;
}

.lblDirectionsComputation {
  color: var(--mid-grey);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  height: 30px;
  width: 50%;
  border-radius: 100px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  background-repeat: no-repeat;
  background-size: 20px 25px;
  background-position: 12px 3px;
  font-family: "Open Sans Semibold";
  font-size: 14px;
  flex-shrink: 0;
}

.lblDirectionsTransport {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0;
  justify-content: space-around;
}

.lblDirectionsTransport span {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  background-color: var(--light-grey);
  margin-bottom: 6px;
}

input:checked + .lblDirectionsTransport span {
  background-color: var(--dark-green);
}

.divDirectionsTransport input[type="radio"]:checked + label {
  color: var(--darker-green);
}

.divDirectionsComputation input[type="radio"]:checked + label {
  color: white;
}

.divDirectionsTransport input[id="directionsTransportVoiture"]:checked ~ .sliderDirections,
.divDirectionsComputation input[id="directionsComputationShortest"]:checked ~ .sliderComputation {
  transform: translateX(calc(100% - 15px));
}

.divDirectionsTransport input[id="directionsTransportPieton"]:checked ~ .sliderDirections,
.divDirectionsComputation input[id="directionsComputationFastest"]:checked ~ .sliderComputation {
  transform: translateX(-5px);
}

.divDirectionsTransport input[id="directionsTransportVelo"]:checked ~ .sliderDirections {
  transform: translateX(calc(200% - 15px));
}

.sliderDirections, .sliderComputation {
  position: absolute;
  display: flex;
  height: 44px;
  width: 50%;
  background-color: var(--dark-green);
  z-index: 1;
  border-radius: 100px;
  transition: 0.25s ease-out;
}

#directionsTransportVoiture + label > span {
  background-image: url("assets/directions/voiture.svg");
}

#directionsTransportVoiture:checked + label > span {
  background-image: url("assets/directions/voiture-s.svg");
}

#directionsTransportPieton + label > span {
  background-image: url("assets/directions/pieton.svg");
}

#directionsTransportPieton:checked + label > span {
  background-image: url("assets/directions/pieton-s.svg");
}

#directionsTransportVelo + label > span {
  background-image: url("assets/directions/velo.svg");
}

#directionsTransportVelo:checked + label > span {
  background-image: url("assets/directions/velo-s.svg");
}

.divDirectionsTransport:has(#directionsTransportVelo:checked) ~ .divDirectionsComputation {
  display: none;
}

.divDirectionsBikeForm {
  display: none;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
}

.divDirectionsTransport:has(#directionsTransportVelo:checked) ~ .divDirectionsBikeForm {
  display: flex;
}

/*
 * locations
 */

#divDirectionsLocationsList {
  width: 95%;
}

.divDirectionsLocations {
  display: flex;
  flex-direction: column;
}

.divDirectionsLocationsItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  max-height: 53px;
  transition: max-height .3s ease-out;
}

.divDirectionsLocationsDefault {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 10px;
}

.lblDirectionsLocations {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.inputDirectionsLocationsContainer {
  position: relative;
  width: 265px;
  margin: 4px;
  flex-grow: 1;
}

.inputDirectionsLocationsContainer.disabled::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--dark-grey)55;
  z-index: 2;
  border-radius: 8px;
}

.inputDirectionsLocations {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding-left: 15px;
  padding-right: 25px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--grey-2);
  color: var(--dark-grey);
  font-family: "Open Sans Semibold";
}

.inputDirectionsLocations::placeholder {
  color: var(--mid-grey);
}

.inputDirectionsLocations:focus {
  outline: none;
  border-color: var(--dark-green);
}


.handle-draggable-layer {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 35px;
  height: 25px;
  background: url("./assets/drag-and-drop.svg") 15px 5px no-repeat, linear-gradient(90deg,#fff0 0%, #fff 30%) center center;
}



.lblDirectionsLocations {
  background-image: url("assets/directions/location-step.svg");
}

#divDirectionsLocationsList > .divDirectionsLocationsItem:first-child > .directionsLocationImg {
  background-image: url("assets/directions/location-first.svg");
}

#divDirectionsLocationsList > .divDirectionsLocationsItem:nth-last-child(1 of :not(.sortable-drag)) > .directionsLocationImg {
  background-image: url("assets/directions/location-last.svg");
}

.lblDirectionsLocationsRemoveImg{
  background-image: url("assets/directions/location-step-remove.svg");
  border-radius: 25px;
  border: 1px solid var(--grey-2);
  flex-shrink: 0;
  background-position: 1px 1px;
}

#divDirectionsLocationsList > .divDirectionsLocationsItem:not(:first-child) > .directionsLocationImg::before {
  content: "";
  display: block;
  background-image: url("assets/directions/location-between.svg");
  width: 25px;
  height: 25px;
  transform: translateY(-30px);
  background-repeat: no-repeat;
  background-position: 10px;
  z-index: -1;
  position: absolute;
}

#directionsLocationImg_reverse {
  width: 40px;
  height: 40px;
  background-image: url("assets/directions/location-reverse.svg");
}

.divDirectionsLocationsAddStep {
  display: flex;
  margin: auto;
  padding: 10px;
  font-family: "Open Sans Semibold";
  max-height: 60px;
  transition: max-height .2s ease-out;
  width: fit-content;
  justify-content: center;
}

#directionsLocationImg_step {
  display: flex;
  width: calc(17rem - 40px);
  max-width: calc(100% - 56px);
  height: 40px;
  padding-left: 40px;
  align-items: center;
  background-image: url("assets/directions/location-step-add.svg");
  line-height: 40px;
  background-position-y: 9px;
  background-color: #fff0;
  transition: background-color 0.1s;
  border-radius: 8px;
  color: var(--mid-grey);
  transform: translateX(20px);
}

#directionsLocationImg_step.animated {
  background-color: #E7E7E7;
}

.hidden .lblDirectionsLocations {
  background-image: none;
  border: none;
}
