@font-face {
  font-family: "Open Sans Semibold";
  src: url("./fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("./fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Fira Sans Semibold";
  src: url("./fonts/FiraSans-SemiBold.ttf");
}
@font-face {
  font-family: "Fira Sans Bold";
  src: url("./fonts/FiraSans-Bold.ttf");
}
@font-face {
  font-family: "Fira Sans Medium";
  src: url("./fonts/FiraSans-Medium.ttf");
}
@font-face {
  font-family: "Fira Sans";
  src: url("./fonts/FiraSans-Regular.ttf");
}

[hidden], .d-none {
  display: none !important;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

:root {
  --text-zoom: 1;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  overscroll-behavior: none;
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: white;
  font-family: "Open Sans Semibold", -apple-system, -apple-system-font, sans-serif;
  font-size: 13px;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  width: 100%;
  color: white;
  overflow-x: hidden;
  overflow-x: clip;
}

body.scrollable {
  overflow-y: scroll;
}

body:has(action-sheet:not(.d-none)) {
  overflow-y: hidden;
}

pwa-toast, action-sheet {
  z-index: 999999;
}

h3 {
  font-family: "Fira Sans Semibold";
  font-size: 17px;
  color: var(--dark-grey);
}

input, textarea, select {
  font-size: 15px;
}

hr {
  border: none;
  height: 1px;
  width: 95%;
  color: var(--grey-2);
  background-color: var(--grey-2);
  margin: 0;
}

#whiteScreen {
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 2999;
  position: fixed;
  animation: fadeIn 0.15s;
}

#whiteScreen.falseWhite {
  background-color: var(--false-white);
}

.hidden {
  max-height: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
}

.opacity0 {
  opacity: 0 !important;
}

.form-submit.disabled,
input[type="submit"].disabled {
  background-color: var(--light-grey);
  color: var(--grey);
  cursor: not-allowed;
}

#onboardingDiv {
  text-align: center;
  width: 280px;
  margin: auto;
}

.onboardingImage {
  height: 140px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;
}

#threeDPopup > .form-submit,
#onboardingDiv > .form-submit {
  appearance: unset; /* for ios */
  display: block;
  margin: auto;
  border: none;
  border-radius: 70px;
  background-color: var(--dark-green);
  padding: 14px 25px;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: fit-content;
  margin-top: 26px;
  font-size: 14px;
}

#onboardingDiv > .form-submit.event {
  background-color: var(--event-main);
}

/* POPUP services GPF */
.gpfServiceName {
  font-family: "Open Sans Semibold";
}

.gpfStatusPopup ul,
.gpfStatusPopup p {
  margin: 2px 0;
}

.gpfStatusPopup ul {
  margin-top: 8px;
  padding-left: 15px;
}

.secondary-button {
  color: var(--darker-green);
  background-color: var(--light-green);
  border-radius: 8px;
  padding: 14px 10px;
}

/* DS IGN forms */
.dsign-form-label,
.signalement-select {
  font-family: "Fira Sans Bold";
  color: var(--darkish-grey);
}

.textarea-label {
  font-family: "Open Sans";
  color: var(--mid-grey);
}

.dsign-form-element {
  position: relative;
}

.dsign-form-label {
  position: absolute;
  font-size: 15px;
  top: 10px;
  left: 12px;
  transition: font-size 0.3s, top 0.3s;
  pointer-events: none;
}

textarea + .dsign-form-label {
  top: 18px;
}

.dsign-form-element > input + .dsign-form-label {
  top: 23px;
}

.dsign-form-element > input:not(:placeholder-shown) + .dsign-form-label,
.dsign-form-element > input:focus + .dsign-form-label,
textarea:not(:placeholder-shown) + .dsign-form-label,
textarea:focus + .dsign-form-label {
  font-size: 11px;
}

.dsign-form-element > input:not(:placeholder-shown) + .dsign-form-label,
.dsign-form-element > input:focus + .dsign-form-label {
  top: 13px;
}
/* END DS IGN forms */

/* Toggle Switch */
.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 21px;
}

/* Hide default HTML checkbox */
.toggleSwitch .toggleInput {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey-2);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 21px;
}

.toggleSlider::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.toggleSlider::after {
  content: "1 0";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 21px;
  color: var(--black);
  font-size: calc(12px / var(--text-zoom));
  font-family: "Open Sans Semibold";
  word-spacing: 6px;
}

.toggleInput:checked + .toggleSlider {
  background-color: var(--dark-green);
}

.toggleInput:checked + .toggleSlider.event {
  background-color: var(--event-main);
}

.toggleInput:disabled + .toggleSlider {
  background-color: var(--grey-2);
}

.toggleInput:checked + .toggleSlider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.toggleInput:checked + .toggleSlider::after {
  color: white;
}
/* END Toggle Switch  */

/* Checkbox */
/* Customize the label (the container) */
.chkContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
  line-height: 27px;
}

/* Hide the browser's default checkbox */
.chkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid var(--grey);
  border-radius: 0.3rem;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.chkContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Show the checkmark when checked */
.chkContainer input:checked ~ .checkmark {
  border: 1px solid var(--dark-green);
  background-color: var(--light-green);
}


/* Style the checkmark/indicator */
.chkContainer .checkmark:after {
  left: 9px;
  top: 4px;
  width: 5px;
  height: 12px;
  border: solid var(--dark-green);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/* END Checkbox */


/** Range **/
/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: var(--false-white);
  cursor: pointer;
  width: 130px;
  overflow: hidden;
  height: 16px;
  color: var(--dark-green);
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 2px;
  height: 4px;
  background: linear-gradient(var(--dark-green),var(--dark-green)) 0/var(--sx)  100% no-repeat, #efefef;
}

input[type=range] {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 16px + var(--ratio) * (100% - 16px));
  background-clip: padding-box;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -6px; /* Centers thumb on the track */
  background-color: var(--dark-green);
  border-radius: 16px;
  height: 16px;
  width: 16px;
  border: var(--dark-grey) 6px solid;
  box-sizing: border-box;
  box-shadow: unset;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: var(--light-grey);
  border-radius: 2px;
  height: 4px;
}

input[type="range"]::-moz-range-progress {
  background-color: var(--dark-green);
  border-radius: 2px;
  height: 4px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: var(--dark-green);
  border: none; /*Removes extra border that FF applies*/
  border-radius: 16px;
  height: 16px;
  width: 16px;
  border: var(--dark-grey) 6px solid;
  box-sizing: border-box;
}
/** END Range **/

/* Radio buttons */
.radio-wrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
  line-height: 27px;
}

.radio-wrapper:has(input:disabled) {
  color: var(--grey);
}

/* Hide the browser's default radio */
.radio-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio */
.radio-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: white;
  border: 1px solid var(--grey);
  border-radius: 100%;
}

.radio-input:after {
  content: "";
  position: absolute;
  display: none;
}

input:disabled ~ .radio-input {
  background-color: var(--light-grey);
}

/* Show the checkmark when checked */
.radio-wrapper input:checked ~ .radio-input:after {
  display: block;
}

/* Show the checkmark when checked */
.radio-wrapper input:checked ~ .radio-input {
  border: 1px solid var(--dark-green);
  background-color: var(--light-green);
}

.radio-wrapper input:checked:disabled ~ .radio-input {
  border: 1px solid var(--grey);
  background-color: var(--light-grey);
}


/* Style the checkmark/indicator */
.radio-wrapper input:checked ~ .radio-input:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--dark-green);
  top: 4px;
  left: 4px;
}

.radio-wrapper input:checked:disabled ~ .radio-input:after {
  background-color: var(--grey);
}
/* END Radio buttons */
