/***********************************
 * controle de calcul d'isochrone
 ***********************************/

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--grey-2);
  padding: 15px;
}

.unit {
  padding: 5px;
}
/*
 * container
 */
#isochroneContainer {}

/*
 * titre
 */
.pIsochroneTitle {
  text-align: center;
  font-family: "Open Sans";
}

.pIsochroneTitleTitle {
  font-family: "Fira Sans Medium";
  margin-top: 0;
  font-size: 16px;
}


/*
 * compute
 */
.btnIsochroneCompute {
  appearance: unset; /* for ios */
  display: block;
  margin: auto;
  border: none;
  border-radius: 70px;
  background-color: var(--dark-green);
  padding: 14px 28px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 236px;
  margin-top: 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
}

/*
 * transport / mode
 */
.divIsochroneMode input[type="radio"],
.divIsochroneTransport input[type="radio"] {
  display: none;
}

.divIsochroneMode *,
.divIsochroneTransport * {
  z-index: 2;
}

.divIsochroneMode,
.divIsochroneTransport {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin: auto;
  height: 34px;
  width: 220px;
  background-color: var(--light-grey);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
  padding: 10px;
  border-radius: 100px;
  margin-bottom: 10px;
  align-items: center;
}

.lblIsochroneMode,
.lblIsochroneTransport {
  color: var(--mid-grey);
  padding-left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 120px;
  border-radius: 100px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  background-repeat: no-repeat;
  background-size: 20px 25px;
  background-position: 13px;
  font-family: "Open Sans";
}

.lblIsochroneTransport {
  padding-left: 30px;
}

.lblIsochroneMode {
  padding: 0;
}

.divIsochroneTransport input[type="radio"]:checked + label,
.divIsochroneMode input[type="radio"]:checked + label {
  color: white;
}

.divIsochroneMode input[id="isochroneModeDistance"]:checked ~ .sliderIsochrone,
.divIsochroneTransport input[id="isochroneTransportVoiture"]:checked ~ .sliderIsochrone {
  transform: translateX(53px);
}

.divIsochroneMode input[id="isochroneModeDuration"]:checked ~ .sliderIsochrone,
.divIsochroneTransport input[id="isochroneTransportPieton"]:checked ~ .sliderIsochrone {
  transform: translateX(-53px);
}

.sliderIsochrone {
  position: absolute;
  display: flex;
  height: 44px;
  width: 120px;
  background-color: white;
  z-index: 1;
  border-radius: 100px;
  transition: 0.25s ease-out;
  background-color: var(--dark-green);
}

#isochroneTransportVoiture + label {
  background-image: url("assets/directions/voiture.svg");
}

#isochroneTransportVoiture:checked + label {
  background-image: url("assets/directions/voiture-s.svg");
}

#isochroneTransportPieton + label {
  background-image: url("assets/directions/pieton.svg");
}

#isochroneTransportPieton:checked + label {
  background-image: url("assets/directions/pieton-s.svg");
}

/*
 * mode
 */

#isochroneModeValueDuration,
#isochroneModeValueDistance {
  margin-bottom: 10px;
}

.divIsochroneValue {
  text-align: center;
}

.isochroneValueHidden {
  display: none;
}

input#isochroneValueDurationInputMinutes[type=number],
input#isochroneValueDistanceInput[type=number]
 {
  appearance: textfield;
}

#isochroneValueDurationInputMinutes,
#isochroneValueDistanceInput
{
  height: 35px;
  width: 95px;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--grey-2);
  color: var(--dark-grey);
  text-align: right;
}

#isochroneValueDistanceInput:focus,
#isochroneValueDurationInputMinutes:focus {
  outline: none;
  border: 1px solid var(--dark-green);
}

/*
 * location
 */
.inputIsochroneLocation {
  display: block;
  position: relative;
  width: 90%;
  height: 45px;
  margin: auto;
  padding-left: 15px;
  margin-bottom: 10px;
  padding: 0 15px 0px 15px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--grey-2);
  color: var(--dark-grey);
  box-sizing: border-box;
  font-family: "open Sans Semibold";
}

.inputIsochroneLocation:not(:placeholder-shown) {
  border: 1px solid var(--dark-green);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

#clearIsochroneLocation {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
  top: 5px;
  right: calc(5% + 1px);
  width: 58px;
  height: 35px;
  background: url("assets/clearSearch.svg"), linear-gradient(90deg,#fff0,var(--false-white) 10px);
  background-repeat: no-repeat;
  background-position: center;
}

#isochroneLocationContainer {
  position: relative;
}

#isochroneLocationContainer.disabled::before {
  content: "";
  display: block;
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  left: 5%;
  background-color: #3F4A5555;
  z-index: 100;
  border-radius: 8px;
}

.inputIsochroneLocation:focus {
  outline: none;
  border-color: var(--dark-green);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

/*
 * POI filters
 */
.filterTitle {
  text-align: left;
  width: 100%;
  font-family: "Fira Sans Medium";
  font-size: 17px;
  margin-bottom: 0px;
}

.divIsochronePOIFilter {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Open Sans Semibold";
  font-size: 13px;
}

.lblIsochroneFilter {
  margin-bottom: 8px;
  width: fit-content;
}

/*
 * Display options
 */
.divIsochroneDisplayOptions {
  display: flex;
  flex-direction: column;
}

.divIsochroneDisplayOption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Open Sans Semibold";
  font-size: 13px;
  padding-top: 15px;
  align-items: center;
}

.divIsochroneDisplayOption > span {
  max-width: 50%;
  white-space: wrap;
  text-align: left;
}
