/***********************************
 * controle de calcul d'isochrone
 ***********************************/

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
}

.unit {
  padding: 5px;
}
/*
 * container
 */
#isochroneContainer {}

/*
 * titre
 */
.pIsochroneTitle {
  text-align: center;
}

/*
 * compute
 */
.btnIsochroneCompute {
  display: block;
  width: 90%;
  margin: auto;
  border: none;
  border-radius: 12px;
  background-color: #26a581;
  padding: 14px 28px;
  font-family: "Fira Sans-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  cursor: pointer;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

/*
 * transport / mode
 */
.divIsochroneMode input[type="radio"],
.divIsochroneTransport input[type="radio"] {
  display: none;
}

.divIsochroneMode *,
.divIsochroneTransport * {
  z-index: 2;
}

.divIsochroneMode,
.divIsochroneTransport {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin: auto;
  height: 34px;
  width: 220px;
  background-color: #e9ecef;
  /* box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15); */
  padding: 10px;
  border-radius: 100px;
  margin-bottom: 10px;
  align-items: center;
}

.lblIsochroneMode,
.lblIsochroneTransport {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 120px;
  /* font-size: .8rem;
  color: black;
  font-weight: 500; */
  border-radius: 100px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  background-repeat: no-repeat;
}

.divIsochroneTransport input[type="radio"]:checked + label {}

.divIsochroneMode input[id="isochroneModeDistance"]:checked ~ .sliderIsochrone,
.divIsochroneTransport input[id="isochroneTransportVoiture"]:checked ~ .sliderIsochrone {
  transform: translateX(58px);
}

.divIsochroneMode input[id="isochroneModeDuration"]:checked ~ .sliderIsochrone,
.divIsochroneTransport input[id="isochroneTransportPieton"]:checked ~ .sliderIsochrone {
  transform: translateX(-58px);
}

.sliderIsochrone {
  position: absolute;
  display: flex;
  height: 44px;
  width: 110px;
  background-color: #ffffff;
  z-index: 1;
  border-radius: 100px;
  transition: 0.25s ease-out;
}

#isochroneTransportVoiture + label {
  background-image: url("assets/directions/voiture.svg");
}

#isochroneTransportPieton + label {
  background-image: url("assets/directions/pieton.svg");
}

/*
 * mode
 */

#isochroneModeValueDuration,
#isochroneModeValueDistance {}

.divIsochroneValue {
  display: flex;
}

.isochroneValueHidden {
  display: none;
}

#isochroneValueDuration {
  margin: auto;
  flex-direction: row;
  align-items: center;
}

/* fixme comment afficher les fleches */
/* input#isochroneValueDurationInputHours[type=number]::-webkit-inner-spin-button,
input#isochroneValueDurationInputMinutes[type=number]::-webkit-inner-spin-button {
  opacity: 1
} */

#isochroneValueDurationInputHours {
  flex: 1;
  height: 35px;
  width: 50%;
  padding-left: 10px;
}
#isochroneValueDurationInputMinutes {
  flex: 1;
  height: 35px;
  width: 50%;
  padding-left: 10px;
}

#isochroneValueDurationInputHours:focus,
#isochroneValueDurationInputMinutes:focus {
  outline: none;
  border:1px solid #26a581;
}

#isochroneValueDistance {
  margin: auto;
  flex-direction: row;
  align-items: center;
}
#isochroneValueDistanceInput {
  flex: 1;
  height: 35px;
  width: 50%;
  padding-left: 10px;
}
#isochroneValueDistanceInput:focus {
  outline: none;
  border:1px solid #26a581;
}

/*
 * location
 */
.divIsochroneLocation {}

.inputIsochroneLocation {
  display: block;
  position: relative;
  width: 90%;
  height: 45px;
  margin: auto;
  padding-left: 15px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #788089;
  margin-bottom: 10px;
}
