/***********************************
 * controle de calcul d'isochron 
 ***********************************/

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
}

.unit {
  padding: 5px;
}
/*
 * container
 */
#isochronContainer {}

/*
 * titre
 */
.pIsochronTitle {
  text-align: center;
}

/* 
 * compute 
 */
.btnIsochronCompute {
  display: block;
  width: 90%;
  margin: auto;
  border: none;
  border-radius: 12px;
  background-color: #26a581;
  padding: 14px 28px;
  font-family: "Fira Sans-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  cursor: pointer;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

/* 
 * transport / mode
 */
.divIsochronMode input[type="radio"],
.divIsochronTransport input[type="radio"] {
  display: none;
}

.divIsochronMode *,
.divIsochronTransport * {
  z-index: 2;
}

.divIsochronMode,
.divIsochronTransport {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin: auto;
  height: 34px;
  width: 220px;
  background-color: #e9ecef;
  /* box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15); */
  padding: 10px;
  border-radius: 100px;
  margin-bottom: 10px;
  align-items: center;
}

.lblIsochronMode,
.lblIsochronTransport {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 120px;
  /* font-size: .8rem;
  color: black;
  font-weight: 500; */
  border-radius: 100px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  background-repeat: no-repeat;
}

.divIsochronTransport input[type="radio"]:checked + label {}

.divIsochronMode input[id="isochronModeDistance"]:checked ~ .sliderIsochron,
.divIsochronTransport input[id="isochronTransportVoiture"]:checked ~ .sliderIsochron {
  transform: translateX(58px);
}

.divIsochronMode input[id="isochronModeDuration"]:checked ~ .sliderIsochron,
.divIsochronTransport input[id="isochronTransportPieton"]:checked ~ .sliderIsochron {
  transform: translateX(-58px);
}

.sliderIsochron {
  position: absolute;
  display: flex;
  height: 44px;
  width: 110px;
  background-color: #ffffff;
  z-index: 1;
  border-radius: 100px;
  transition: 0.25s ease-out;
}

#isochronTransportVoiture + label {
  background-image: url("assets/directions/voiture.svg");
}

#isochronTransportPieton + label {
  background-image: url("assets/directions/pieton.svg");
}

/*
 * mode
 */

#isochronModeValueDuration,
#isochronModeValueDistance {}

.divIsochronValue {
  display: flex;
}

.isochronValueHidden {
  display: none;
}

#isochronValueDuration {
  margin: auto;
  flex-direction: row;
  align-items: center;
}

/* fixme comment afficher les fleches */
/* input#isochronValueDurationInputHours[type=number]::-webkit-inner-spin-button,
input#isochronValueDurationInputMinutes[type=number]::-webkit-inner-spin-button {
  opacity: 1
} */

#isochronValueDurationInputHours {
  flex: 1;
  height: 35px;
  width: 50%;
  padding-left: 10px;
}
#isochronValueDurationInputMinutes {
  flex: 1;
  height: 35px;
  width: 50%;
  padding-left: 10px;
}

#isochronValueDurationInputHours:focus,
#isochronValueDurationInputMinutes:focus {
  outline: none;
  border:1px solid #26a581;
}

#isochronValueDistance {
  margin: auto;
  flex-direction: row;
  align-items: center;
}
#isochronValueDistanceInput {
  flex: 1;
  height: 35px;
  width: 50%;
  padding-left: 10px;
}
#isochronValueDistanceInput:focus {
  outline: none;
  border:1px solid #26a581;
}

/* 
 * location
 */
.divIsochronLocation {}

.inputIsochronLocation {
  display: block;
  position: relative;
  width: 90%;
  height: 45px;
  margin: auto;
  padding-left: 15px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: #788089;
  margin-bottom: 10px;
}