#layerManagerWindow h3 {
  text-align: center;
  margin-bottom: 10px;
}

#layerManagerWindow h4 {
  margin: 0 0 10px 0;
  font-family: "Fira Sans Semibold";
  font-size: 15px;
  font-weight: 600;
}

#layerManagerWindow #thematicLayersLabel {
  margin: 8px 0 2px 0;
}

#layer-thematics {
  width: 100%;
}

.layer-thematics {
  padding-top: 15px;
}

.subCatMenu .layer .layerImg img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  border-radius: 2px;
}

.layerImg {
  width: 100%;
  position: relative;
  margin: auto;
}


.baseLayer .layerImg{
  width: 138px;
}

.subCatMenu .baseLayer .layerImg img{
  width: 138px;
  height: 92px;
}

.layer-title-thematic,
.layer-title {
  font-family: "Open Sans Semibold";
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  display: flex;
  text-align: left
}

.layer-title-thematic {
  color: var(--dark-green);
  font-weight: 600;
}

#layerManagerWindow #thematicLayers {
  text-align: center;
  margin: 0;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 30% 30% 30%;
}

#baseLayers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  scrollbar-width: none;  /* Firefox */
}

#baseLayers::-webkit-scrollbar {
  display: none;
}

.selectedLayer .layer-badge {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 14px;
  right: 10px;
  background-repeat: no-repeat;
  background-image: url("assets/selected-layer.svg");
  border: 2px solid white;
  border-radius: 50%;
}

.layer-interactive-badge-true {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 4px;
  left: 5px;
  background-repeat: no-repeat;
  background-image: url("assets/map-buttons/interactivity.svg");
  background-color: white;
  background-size: 10px;
  background-position: center;
  border: 2px solid white;
  border-radius: 50%;
}

.selectedLayer img {
  border: solid 2px white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

#baseLayers .layer {
  display: inline-block;
  padding-bottom: 1em;
  position: relative;
  flex-shrink: 0;
  width: 138px;
  margin-right: 12px;
}

#thematicLayers .layer {
  display: inline-block;
  padding-bottom: 1em;
  width: 100%;
  position: relative;
}

#thematicLayers .layer-hidden {
  display: none;
}

.baseLayer,
.thematicLayer {}

#thematicButtons {

}

.subCatButton {
  margin: 0 0 6px 0;
  position: relative;
  overflow-x: scroll;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#baseLayers::after,
.subCatButton::after {
  content: "";
  pointer-events: none;
  position: sticky;
  z-index: 6;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(90deg,#fff0,var(--false-white));
  opacity: 1;
  visibility: visible;
  flex-shrink: 0;
}

#baseLayers::after {
  height: unset;
}

.subCatButton::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar and Firefox */
.subCatButton {
  scrollbar-width: none;  /* Firefox */
}

.thematicButton {
  display: block;
  border: 1px solid var(--dark-grey);
  color: var(--dark-grey);
  background-color: #fff0;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  margin-right: 10px;
  font-family: "Open Sans Bold";
  font-size: 11px;
}

.thematic-button-active {
  color: var(--dark-green);
  border-color: var(--dark-green);
}
