#layer-thematics-number,
#layer-switcher-number {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 0.9em;
  margin: auto;
  border-radius: 50px;
  background-color: #26A581;
  color: #fff;
  font-family: "Open Sans";
  padding: 3px 5px;
}

.layer-tabs-wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-evenly;
  /* align-items: center; */
}

.layer-tabs-input {
  display: none;
}

.layer-tabs-label {
  width: 50%;
  height: 35px;
  cursor: pointer;
  display: block;
  text-align: center;
}

.layer-tabs-label:hover {
}
.layer-tabs-label:active {
}

.layer-tabs-input:focus + .layer-tabs-label {
}
.layer-tabs-label {
  border-bottom: 2px solid #DDE1E6;
}
.layer-tabs-input:checked + .layer-tabs-label {
  border-bottom: 2px solid #26a581;
}

.layer-tabs-input:checked:nth-of-type(1) ~ .layer-tabs-content:nth-of-type(1) {
  /* opacity: 1; */
  display: block;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
}
.layer-tabs-input:checked:nth-of-type(2) ~ .layer-tabs-content:nth-of-type(2) {
  /* opacity: 1; */
  display: block;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
}

.layer-tabs-content {
  z-index: -1;
  /* opacity: 0; */
  display: none;
  left: 0;
}

#layer-thematics-tab,
#layer-switcher-tab {
}

#layer-thematics,
#layer-switcher {
}
