/* test pour transformer une carte en N&B :
.maplibregl-canvas {
  filter: grayscale(1);
}
*/

#layer-switcher {
  position: relative;
  padding-top: 15px;
  min-height: 160px;
}

div[id^="compare-landmark-container_ID_"],
div[id^="landmark-container_ID_"],
div[id^="route-container_ID_"],
div[id^="container_ID_"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

div[id^="container_ID_"].invisible > div[id^=basic-tools_ID_] {
  opacity: 0.5;
}

.tools-layer-panel {
  position: relative;
  padding-bottom: 20px;
}

div[id^="compare-landmark-cross-picto_ID_"],
div[id^="landmark-cross-picto_ID_"],
div[id^="route-cross-picto_ID_"],
div[id^="cross-picto_ID_"] {
  position: relative;
  right: unset;
  top: unset;
  width: 25px;
  background: url("./assets/drag-and-drop.svg") center center no-repeat;
}

div[id^="compare-landmark-basic-tools_ID_"],
div[id^="landmark-basic-tools_ID_"],
div[id^="route-basic-tools_ID_"],
div[id^="basic-tools_ID_"] {
  display: flex;
  flex-direction: row;
  padding: 10px;
  max-width: calc(100% - 70px);
  width: 100%;
}
div[id^="compare-landmark-basic-tools_ID_"],
div[id^="landmark-basic-tools_ID_"],
div[id^="route-basic-tools_ID_"] {
  align-items: center
}

div[id^="thumbnail_ID_"] {
  height: 50px;
}

.tools-layer-quickLookUrl {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  object-fit: cover; /* Do not scale the image */
  object-position: center;
}

.wrap-tools-layers {
  padding-left: 10px;
  text-align: left;
  max-width: calc(100% - 60px);
}

span[id^="compare-landmark-title_ID_"],
span[id^="landmark-title_ID_"],
span[id^="route-title_ID_"],
span[id^="title_ID_"] {
  word-break: break-word;
  font-family: "Fira Sans Semibold";
  font-size: 15px;
  color: var(--dark-grey);
}

div[id^="opacity-range-div_ID_"] {
}

input[id^="opacity-value-range_ID_"] {
  accent-color: var(--dark-green);
  width: 130px;
}

div[id^="opacity-middle-div_ID_"] {
  display: none;
}

.tools-layer-opacity {
  display: flex;
  align-items: center;
}

.tools-layer-opacity::before {
  content: "0";
  color: var(--mid-grey);
  font-family: "Open Sans Semibold";
  padding-right: 8px;
}
.tools-layer-opacity::after {
  content: "100%";
  color: var(--mid-grey);
  font-family: "Open Sans Semibold";
  padding-left: 6px;
}

.tools-layer-advanced {
  width: 25px;
  height: 25px;
  background-image: url("./assets/options-layer.svg");
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--light-grey);
}

.tools-layer-color {
  background-image: url("./assets/layer-switcher/nb-layer.svg");
}

.tools-layer-visibility {
  background-image: url("./assets/layer-switcher/hide-layer.svg");
}

.tools-layer-visibility.invisible {
  background-image: url("./assets/layer-switcher/show-layer.svg");
}

.tools-layer-info {
  background-image: url("./assets/layer-switcher/info-layer.svg");
}

.tools-layer-remove {
  background-image: url("./assets/layer-switcher/delete-layer.svg");
}

.tools-layer-remove.confirm-needed:hover {
  background-image: url("./assets/layer-switcher/delete-layer-confirm.svg");
  color: var(--orange);
}

.tools-layer-edit {
  background-image: url("./assets/layer-switcher/edit-layer.svg");
}

.tools-layer-export {
  background-image: url("./assets/layer-switcher/export-layer.svg");
}

.tools-layer-share {
  background-image: url("./assets/layer-switcher/share-layer.svg");
}

.tools-layer-color,
.tools-layer-visibility,
.tools-layer-info,
.tools-layer-share,
.tools-layer-edit,
.tools-layer-export,
.tools-layer-remove {
  height: 40px;
  background-repeat: no-repeat;
  background-size: 40px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.tools-layer-remove {
  margin-bottom: 0px;
}

#informationsText > p {
  margin-top: 12px;
  margin-bottom: 0;
}

#informationsText > p:last-child {
  margin-top: 5px;
}

#informationsText .layerInfoMaj,
#informationsText .layerInfoSource {
  font-family: "Open Sans Bold";
}
