/* test pour transformer une carte en N&B :
.maplibregl-canvas {
  filter: grayscale(1);
}
*/

#layer-switcher {
  position: relative;
  padding-top: 15px;
  min-height: 160px;
}

div[id^="container_ID_"] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tools-layer-panel {
  position: relative;
  padding-bottom: 20px;
}

div[id^="cross-picto_ID_"] {
  position: relative;
  right: unset;
  top: unset;
  width: 25px;
  background: url("./assets/drag-and-drop-light.svg") center center no-repeat, #f4f6f8;
}

div[id^="basic-tools_ID_"] {
  display: flex;
  flex-direction: row;
  padding: 10px;
  max-width: 250px;
}

div[id^="thumbnail_ID_"] {
  height: 50px;
}

.tools-layer-quickLookUrl {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  object-fit: cover; /* Do not scale the image */
  object-position: center;
}

.wrap-tools-layers {
  padding-left: 10px;
}

span[id^="title_ID_"] {
  word-break: break-word;
  font-family: "Open Sans Semibold";
  color: #3f4a55;
}

div[id^="opacity-range-div_ID_"] {
}

input[id^="opacity-value-range_ID_"] {
  accent-color: #2dc398;
  width: 130px;
}

div[id^="opacity-middle-div_ID_"] {
  display: none;
}
span[id^="opacity-value-middle_ID_"] {
}
.tools-layer-opacity {
  display: flex;
  align-items: center;
}

.tools-layer-opacity::before {
  content: "0";
  color: #798189;
  font-family: "Open Sans Semibold";
  padding-right: 8px;
}
.tools-layer-opacity::after {
  content: "100%";
  color: #798189;
  font-family: "Open Sans Semibold";
  padding-left: 6px;
}

label[id^="show-advanced-tools_ID_"] {
  width: 25px;
  height: 25px;
  background-image: url("./assets/options-layer.svg");
  background-repeat: no-repeat;
  background-position: center;
}
div[id^="advanced-tools_ID_"] {
  margin: auto;
  display: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
  padding: 12px;
  width: fit-content;
  flex-direction: column;
}
.tools-layer-advanced {
}
.tools-layer-advanced-menu {
  position: absolute;
}
label[id^="show-advanced-tools_ID_"]:hover
  + div[id^="advanced-tools_ID_"] {
  display: flex;
}

div[id^="advanced-tools_ID_"]:hover {
  display: flex;
}
input[id^="visibility_ID_"],
input[id^="color_ID_"] {
  display: none;
}
label[id^="color-picto_ID_"] {
  background-image: url("./assets/layer-switcher/nb-layer.svg");
}

label[id^="visibility-picto_ID_"] {
  background-image: url("./assets/layer-switcher/hide-layer.svg");
}

input[type=checkbox]:checked + .tools-layer-visibility {
  background-image: url("./assets/layer-switcher/show-layer.svg");
}

div[id^="info_ID_"] {
  background-image: url("./assets/layer-switcher/info-layer.svg");
}

div[id^="remove_ID_"] {
  background-image: url("./assets/layer-switcher/delete-layer.svg");
}

.tools-layer-color,
.tools-layer-visibility,
.tools-layer-info,
.tools-layer-remove {
  height: 40px;
  background-repeat: no-repeat;
  background-size: 40px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tools-layer-remove {
  margin-bottom: 0px;
}
