#layerManagerWindow h3 {
  text-align: center;
  margin-bottom: 10px;
}

#layerManagerWindow h4 {
  padding: 0 30px 5px;
  margin: 0 0 10px 0;
}

.layer-thematics {
  padding: 15px;
}

.subCatMenu .layer .layerImg img {
  width: 75px;
  height: 50px;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
}

.layerImg {
  width: 75px;
  position: relative;
  margin: auto;
}

.textCouche {
  font-family: "Open Sans Semibold";
  color: #0B6BA7;
  display: flex;
  justify-content: center;
}

#layerManagerWindow .subCatMenu {
  text-align: center;
  margin: 0 15px 0 15px;
  display: grid;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-template-columns: 26% 26% 26%;
}

.selectedLayer img {
  border: solid 5px #0b6ba7;
  box-sizing: border-box;
}

.comparedLayer img {
  border: solid 5px #00ae90;
  box-sizing: border-box;
}

.subCatMenu .layer {
  display: inline-block;
  padding-bottom: 1em;
  width: 100%;
  position: relative;
}

.layer .layer-info,
.layer .layer-legend {
  width: 19px;
  height: 19px;
  background-color: #fff;
  position: absolute;
  left: -10px;
  border-radius: 13px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.layer .layer-info {
  top: -10px;
  background-image: url("assets/info.svg");
}

.layer .layer-legend {
  top: 40px;
  background-image: url("assets/legend.svg");
}

.subCatMenu .layer-hidden {
  display: none;
}

.baseLayer,
.dataLayer,
.thematicLayer {}

#thematicButtons {}

.subCatButton {
  padding: 0 30px 5px;
  margin: 0 0 10px 0;
  position: relative;
  overflow-x: scroll;
  width: 300px; /* FIXME */
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subCatButton::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.subCatButton {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.thematic-button-active {
  color: #26a581;
  border-color: #26a581;
}

.thematicButton {
  display: block;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  /* width: 70px; */
}