.btnOpenParameters {
  appearance: unset; /* for ios */
  display: block;
  margin: auto;
  border: none;
  border-radius: 70px;
  background-color: var(--dark-green);
  padding: 14px 28px;
  font-family: "Open Sans Semibold";
  font-size: 9px;
  color: white;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 100%;
  margin-top: 26px;
  box-sizing: border-box;
}
