
.button {
  width: 34px;
  height: 34px;
  display: inline-block;
}

#backTopLeftBtn {
  position:fixed;
  width: 20px;
  height: 20px;
  z-index: 3001;
  top: calc(10px + env(safe-area-inset-top));
  left: calc(10px + env(safe-area-inset-left));
  background-image: url("assets/back.svg");
  background-position: center;
  background-repeat: no-repeat;
}

#backTopLeftBtn,
#sideBySideBtn,
#layerManagerBtn,
#geolocateBtn,
#compassBtn,
#filterPoiBtn,
#interactivityBtn  {
  width: 40px;
  height: 40px;
  border-radius: 60px;
  background-position: center;
  background-repeat: no-repeat;
  right: 15px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  z-index: 3001;
  border: 1px solid white;
}

#layerManagerBtn {
  background-image: url("assets/layers.svg");
  position: absolute;
  bottom: calc(180px + env(safe-area-inset-bottom));
}

#geolocateBtn {
  background-image: url("assets/localisation.svg");
  position: absolute;
  bottom: calc(130px + env(safe-area-inset-bottom));
}

#sideBySideBtn {
  background-image: url("assets/compare.svg");
  position: absolute;
  left: 15px;
  bottom: calc(130px + env(safe-area-inset-bottom));
}

#compassBtn {
  background-image: url("assets/compass.svg");
  position: absolute;
  bottom: calc(225px + env(safe-area-inset-bottom));
}

#filterPoiBtn {
  background-image: url("assets/filtrer.svg");
  position: absolute;
  top: calc(80px + env(safe-area-inset-top));
}

#interactivityBtn {
  background-image: url("assets/interactivity.svg");
  background-color: lightgray;
  position: absolute;
  left: 15px;
  top: calc(80px + env(safe-area-inset-top));
}

@media (min-width: 615px), screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  #layerManagerBtn {
    bottom: calc(65px + env(safe-area-inset-bottom));
  }

  #geolocateBtn {
    bottom: calc(15px + env(safe-area-inset-bottom));
  }

  #sideBySideBtn {
    left: calc(90px + env(safe-area-inset-left));
    bottom: calc(65px + env(safe-area-inset-bottom));
  }

  #compassBtn {
    top: calc(15px + env(safe-area-inset-top));
  }
}
