/* Popup generique */
.maplibregl-popup-content {
  border-radius: 15px;
  user-select: text;
  color: black;
}

.maplibregl-ctrl-bottom-left {
  bottom: 10px;
  left: 15px;
  background-color: hsla(0, 0%, 100%, 0.75);
  border-radius: 4px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#bottomButtons > .maplibregl-ctrl-bottom-left {
  bottom: -3px;
}

#mapRLT2 .maplibregl-control-container > .maplibregl-ctrl-bottom-left,
#mapRLT1 .maplibregl-control-container > .maplibregl-ctrl-bottom-left {
  bottom: 10px;
}

.maplibregl-ctrl-scale {
  background-color: #0000;
  font-family: "Open Sans";
  text-align: center;
  height: 10px;
  line-height: 1px;
}

.maplibregl-ctrl-bottom-left .maplibregl-ctrl {
  margin: 2px 5px;
}

/* Map */
.map {
  height: calc(100vh - 52px - max(calc(var(--safe-area-inset-bottom) - 10px - var(--nav-bar-height)), 20px));
  width: 100vw;
  flex-grow: 1;
  position: fixed;
}

.mapRLT {
  height: 100vh;
}

#mapRLT1 {
  z-index: 1;
}

#cartoContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  #map {
    height: 100vh;
    width: 100vw;
    right: 0;
  }
}
