@media not (min-width: 400px), not (min-aspect-ratio: 1/1) {
  body.searching {
    overflow-y: scroll;
  }
}

/* mode paysage et écrans larges */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  #tabContainer {
    width: min(50vw, calc(100vh + var(--safe-area-inset-left) + 42px));
    left: 0;
    border-top-left-radius: 0px;
    z-index: 2997;
    padding: 0 15px 15px calc(var(--safe-area-inset-left) + 42px);
    transition: top 0.3s;
    display: none;
  }

  #sheetContent {
    width: min(50vw, calc(100vh + var(--safe-area-inset-left) + 42px));
    padding: 0 15px 15px calc(var(--safe-area-inset-left) + 42px);
    left: 0;
    border-top-left-radius: 0px;
  }

  #informationsWindow,
  #isochroneWindow,
  #directionsWindow,
  #directionsResultsWindow,
  #positionWindow,
  #layerManagerWindow,
  #poiWindow,
  #routeDrawWindow {
    margin-top: 10px;
  }
}
