/* mode paysage et écrans larges */
@media (min-width: 615px), screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  #tabContainer {
    width: calc(100vh + var(--safe-area-inset-left) + 42px);
    height: 100vh;
    top: 100%;
    left: 0;
    overflow-y: scroll;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    z-index: 300;
    padding: 0 15px 15px calc(var(--safe-area-inset-left) + 42px);
    transition: top 0.3s;
}

  #informationsWindow,
  #isochroneWindow,
  #directionsWindow,
  #directionsResultsWindow,
  #positionWindow,
  #layerManagerWindow,
  #poiWindow,
  #routeDrawWindow {
    margin-top: 20px;
  }

  body {
    overflow-y: hidden;
  }
}
