#navContainer {
    display: flex;
    position: absolute;
    top: calc(100% - 77px - max(var(--safe-area-inset-bottom), 20px));
    width: 100%;
    height: 63px;
    font-size: 12px;
    background-color: white;
    padding: 7px 0px calc(5px + max(var(--safe-area-inset-bottom), 20px)) 0px;
    z-index: 3002;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.navitembtn {
    display: flex;
    height: inherit;
    width: inherit;
    max-width: inherit;
    border: none;
    outline: none;
    color: var(--dark-grey);
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    flex-direction: column;
    align-items: center;
    height: 64px;
    justify-content: center;
    padding: 0;
}

.navitembtn > span {
    vertical-align: middle;
    white-space: nowrap;
    font-size: 12px;
    font-family: "Fira Sans Semibold";
    flex-shrink: 0;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.navitembtn > div {
    margin-bottom: 5px;
    height: 48px;
    width: 48px;
    flex-shrink: 0;
    background-size: 48px;
}

.navbar.hoverable:focus-within > .navitembtn,
.navbar.hoverable:hover > .navitembtn {
  color: var(--dark-green);
}

#navimg-explorer {
    background-image: url(../html/img/explorer.svg);
}

.navbar.hoverable:focus-within #navimg-explorer,
.navbar.hoverable:hover #navimg-explorer {
    background-image: url(../html/img/explorer-s.svg);
}

#navimg-deplacer {
  background-image: url(../html/img/deplacer.svg);
}

.navbar.hoverable:focus-within #navimg-deplacer,
.navbar.hoverable:hover #navimg-deplacer {
  background-image: url(../html/img/deplacer-s.svg);
}

#navimg-compare {
  background-image: url(../html/img/compare.svg);
}

.navbar.hoverable:focus-within #navimg-compare,
.navbar.hoverable:hover #navimg-compare {
  background-image: url(../html/img/compare-s.svg);
}

#navimg-compte {
  background-image: url(../html/img/compte.svg);
}

.navbar.hoverable:focus-within #navimg-compte,
.navbar.hoverable:hover #navimg-compte {
  background-image: url(../html/img/compte-s.svg);
}

.navbar {
    display: flex;
    height: 100%;
    max-width: 80px;
    width: fit-content;
    align-items: center;
}

.subnav {
    position: absolute;
    background-color: var(--false-white);
    bottom: calc(75px + max(var(--safe-area-inset-bottom), 20px));
    left: -100%;
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    width: 97%;
    color: var(--dark-grey);
    padding: 0px 24px 30px 24px;
    align-items: center;
    border-radius: 0px 13px 0px 0px;
    gap: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.navheader {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-image: url(../html/img/navheader.svg);
}

.navbar.hoverable:focus-within .subnav,
.navbar.hoverable:hover .subnav {
  transform: translate(100%);
}

.navitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-style: normal;
  line-height: normal;
  align-self: stretch;
  font-family: "Open Sans Semibold";
}

.nav-text {
  align-items: flex-start;
}

.nav-text p {
  margin-top: 0;
  margin-bottom: 3px;
}

.nav-text-header {
  font-size: 15px;
  font-family: "Fira Sans Semibold";
}

.nav-text-caption {
  font-size: 12px;
  align-self: stretch;
  font-family: "Open Sans Semibold";
}

.nav-arrow, .nav-picto {
  height: 32px;
  width: 32px;
  background-size: cover;
  flex-shrink: 0;
}

.nav-picto {
  align-self: flex-start;
}

.nav-arrow {
  background-image: url(../html/img/right-arrow.svg);
  margin-left: auto;
}

#isochrone > .nav-picto {
  background-image: url(../html/img/proximite.svg);
}

#position > .nav-picto {
  background-image: url(../html/img/position.svg);
}

#landmark > .nav-picto {
  background-image: url(../html/img/landmark.svg);
}

#directions > .nav-picto {
  background-image: url(../html/img/syrendre.svg);
}

#routeDraw > .nav-picto {
  background-image: url(../html/img/tracer.svg);
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  #navContainer {
    flex-direction: column;
    width: calc(75px + var(--safe-area-inset-left));
    height: 100vh;
    padding-left: var(--safe-area-inset-left);
    padding-top: var(--status-bar-height);
    left: 0;
    top: 0;
    box-sizing: border-box;
  }

  .subnav {
    width: calc(50vw - 75px);
    height: 100%;
    border-radius: 0;
    top: 100%;
    left: calc(75px + var(--safe-area-inset-left));
    display: none;
  }

  .navbar.hoverable:focus-within .subnav,
  .navbar.hoverable:hover .subnav {
    transform: translate(0, -100%);
    display: flex;
  }
}
