#navContainer {
    display: flex;
    position: absolute;
    bottom: 0px;
    top: calc(100% - 78px);
    width: 100%;
    height: 60px;
    font-size: 12px;
    background-color: white;
    padding: 10px 0px 8px 0px;
    z-index: 3002;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.navitembtn {
    display: flex;
    height: inherit;
    width: inherit;
    border: none;
    outline: none;
    color: #3f4a55;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    flex-direction: column;
    align-items: center;
    height: 60px;
    justify-content: center;
}

.navitembtn > span{
    vertical-align: middle;
    white-space: nowrap;
}

.navitembtn > div {
    margin-bottom: 5px;
    height: 42px;
    width: 42px;
    flex-shrink: 0
}

#navimg-explorer {
    background-image: url(../html/img/explorer.svg);
}

.navitembtn:hover #navimg-explorer {
    background-image: url(../html/img/explorer-s.svg);
}

#navimg-deplacer {
  background-image: url(../html/img/deplacer.svg);
}

.navitembtn:hover #navimg-deplacer {
  background-image: url(../html/img/deplacer-s.svg);
}

#navimg-compte {
  background-image: url(../html/img/compte.svg);
}

.navitembtn:hover #navimg-compte {
  background-image: url(../html/img/compte-s.svg);
}

.navbar {
    display: flex;
    height: 100%;
    width: fit-content;
    align-items: center;
}

.subnav {
    position: absolute;
    background-color: #f4f6f8;
    bottom: 78px;
    left: 0px;
    transform: translate(-100%);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    width: 97%;
    height: fit-content;
    color: #3f4a55;
    padding: 0px 24px 30px 24px;
    align-items: center;
    border-radius: 0px 13px 0px 0px;
    gap: 5px;
    box-sizing: border-box;
}

.navheader {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-image: url(../html/img/navheader.svg);
}

.subnav hr {
  border: none;
  height: 1px;
  width: 90%;
  color: #dde1e6;
  background-color: #dde1e6;
  margin: 3px 0;
}

.navbar:hover .subnav {
  display: flex;
  transform: translate(0%);
  transition: transform 0.2s;
  transition-timing-function: ease-out;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.navitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
  align-self: stretch;
}

.nav-text {
  align-items: flex-start;
}

.nav-text p {
  margin-top: 0;
  margin-bottom: 3px;
}

.nav-text-header {
  font-size: 15px;
}

.nav-text-caption {
  font-size: 12px;
  align-self: stretch;
  font-family: "Open Sans";
}

.nav-arrow, .nav-picto {
  height: 32px;
  width: 32px;
  background-size: cover;
  flex-shrink: 0;
}

.nav-arrow {
  background-image: url(../html/img/right-arrow.svg);
}

#isochrone > .nav-picto {
  background-image: url(../html/img/proximite.svg);
}

#myposition > .nav-picto {
  background-image: url(../html/img/position.svg);
}

#repere > .nav-picto {
  background-image: url(../html/img/repere.svg);
}

#directions > .nav-picto {
  background-image: url(../html/img/syrendre.svg);
}

#drawroute > .nav-picto {
  background-image: url(../html/img/tracer.svg);
}
