.divPOIContainer {}

.spanPOITitle {
    text-align: left;
    width: 100%;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 1.2em;
}

.divPOIDisplayGoBackTime > div,
.divPOIDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Open Sans";
    padding-top: 15px;
    align-items: center;
    padding-bottom: 5px;
}

.divPOIDisplayGoBackTime {
  display: flex;
  flex-direction: column;
}

.divPOIDisplay {
    padding-bottom: 5px;
    width: 100%;
}

.divPOIDisplay > span {
    max-width: 75%;
    white-space: wrap;
    text-align: left;
    font-family: "Open Sans Semibold";
}

.divPOIDisplayGoBackTime > div > span {
  font-family: "Open Sans Semibold";
  font-size: 1.2em;
}

.divPOIDisplayGoBackTime > span:last-child {
    padding-left: 28px;
    margin-top: 8px;
    max-width: 65%;
    background-image: url("assets/comparePoi.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: top left;
    font-family: "Open Sans Semibold";
}

.divPOIFilterItems {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    font-family: "Open Sans";
    border-bottom: 1px solid var(--grey-2);
    padding: 15px;
}

.lblPOIFilterItem {
    margin-bottom: 8px;
    width: fit-content;
}
.inputPOIFilterItem {}

#displayPOI {}
#displayPOIGoBackTime {}
