/***********************************
 * controle "Où suis-je ?"
 ***********************************/

.fontLight {
  font-family: "Open Sans";
  font-weight: 500;
  color: var(--dark-grey);
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

/*
 * titre
 */
.divPositionTitle {
  text-align: left;
  font-size: 17px;
  font-family: "Fira Sans Semibold";
  margin: 0 10px 17px 0px;
}


/*
 * addresse
 */
.divPositionAddress {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.lblPositionImgAddress {
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-image: url("assets/directions/point-start.svg");
  background-size: 28px;
  background-position: center;
  margin-right: 8px;
}

.divPositionSectionAddress {
  text-align: left;
  font-size: 14px;
}

.lblPositionAddress {
  font-family: "Fira Sans Semibold";
  font-size: 15px;
}

.lblPositionCity {
  font-family: "Open Sans Semibold";
  font-size: 12px;
}

/*
 * boutons
 */
.divPositionButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 18px 0 18px 0;
  overflow-x: scroll;
  scrollbar-width: none;
}

#divPositionButtonsAfter {
  content: "";
  position: sticky;
  z-index: 6;
  top: 0;
  right: -1px;
  height: 45px;
  width: 41px;
  background: url("assets/arrow-right.svg"), linear-gradient(90deg,#fff0,var(--false-white) 40%);
  background-repeat: no-repeat;
  background-position: right 3px top 50%, right;
  background-size: 20px, cover;
  opacity: 1;
  visibility: visible;
  flex-shrink: 0;
}

.divPositionButtons::-webkit-scrollbar {
  display: none;
}

.lblPositionImg {
  height: 25px;
  width: 25px;
  background-size: 25px;
  background-repeat: no-repeat;
  margin-right: 6px;
}

.lblPositionShareImg {
  background-image: url("assets/share.svg");
}

.lblPositionNearImg {
  background-image: url("assets/isochrone-white.svg");
}

.lblPositionRouteImg {
  background-image: url("assets/syrendre-white.svg");
}

.lblPositionSignalImg {
  background-image: url("assets/signal.svg");
}

.lblPositionLandmarkImg {
  background-image: url("assets/landmark-white.svg");
}

.lblPositionLandmarkEditImg {
  background-image: url("assets/edit-white.svg");
}

.btnPositionButtons {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  color: white;
  background-color: var(--dark-green);
  border-radius: 50px;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: none;
  white-space: nowrap;
  font-family: "Open Sans Semibold";
  font-size: 12px;
}

/*
 * coordonnées
 */
.divPositionCoord {
  margin: 0;
  color: var(--mid-grey);
  font-size: 12px;
}

/*
 * popup
 */

#interactivityPopup,
#onlinePopup,
#locationPopup,
#routeDrawHelpPopup {
  position: relative;
  padding: 24px;
  font-family: "Open Sans";
  font-size: 13px;
}

.divPopupClose {
  width: 30px;
  height: 30px;
  background-image: url("assets/clearSearch.svg");
  background-size: 30px;
  position: absolute;
  right: 15px;
  top: 20px;
}

.routeDrawHelpPopup>.maplibregl-popup-content,
.interactivityPopup>.maplibregl-popup-content,
.onlinePopup>.maplibregl-popup-content,
.locationPopup>.maplibregl-popup-content {
  color: var(--dark-grey);
  border-radius: 15px;
  padding: 0;
}

.routeDrawHelpPopup>.maplibregl-popup-tip,
.interactivityPopup>.maplibregl-popup-tip,
.locationPopup>.maplibregl-popup-tip {
  display: none;
}

/*
 * boutons sociaux
 */
.divPositionShareButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.divLegendContainer {
  display: flex;
}

.divLegendDescription {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 10px;
}

.positionSubTitle {
  font-family: "Open Sans";
  font-size: 12px;
  color: var(--mid-grey);
  margin: 0;
}

.positionHtmlBefore {
  font-family: "Open Sans";
  line-height: 20px;
}

.positionInfo {
  font-family: "Open Sans";
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: 0;
  min-height: 32px;
  display: flex;
  align-items: center;
  background-position: top left;
}

.positionInfo a {
  color: var(--dark-grey);
  text-decoration: underline;
}

.positionHours {
  background-image: url("assets/horaire.svg");
}

.positionWeb {
  background-image: url("assets/web.svg");
}

.positionWeb::after {
  content: "";
  background-image: url("assets/external-link.svg");
  width: 20px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}

.positionTelephone {
  background-image: url("assets/telephone.svg");
}

.monumentsHistoriquesImageAuthor {
  font-size: 12px;
  font-family: "Open Sans";
  color: var(--mid-grey);
  margin-top: 3px;
}

.monumentsHistoriquesContent {
  font-family: "Open Sans";
}

.monumentsHistoriquesContent b {
  font-size: 15px;
  margin-bottom: -10px;
  display: block;
  font-family: "Fira Sans Semibold";
}
