/***********************************
 * controle "Où suis-je ?"
 ***********************************/

.fontLight {
  font-family: "Open Sans";
  color: var(--dark-grey);
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

/*
 * titre
 */
.divPositionTitleWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 10px 17px 0px;
}

.divPositionTitle {
  text-align: left;
  font-size: 17px;
  font-family: "Fira Sans Semibold";
}

#position-landmark-advanced-tools {
  font-family: "Open Sans Semibold";
  font-size: 12px;
}

/*
 * info géocodage
 */
.divPositionAdressOriginInfo {
  color: var(--darker-green);
  background-color: var(--light-green);
  padding: 14px 48px 14px 10px;
  border-radius: 6px;
  background-image: url("assets/help-darkergreen.svg");
  background-position: center right 6px;
  background-size: 32px;
  background-repeat: no-repeat;
}

/*
 * addresse
 */
.divPositionAddress {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.lblPositionImgAddress {
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-image: url("assets/directions/point-start.svg");
  background-size: 28px;
  background-position: center;
  margin-right: 8px;
  align-self: flex-start;
}

.divPositionSectionAddress {
  text-align: left;
  font-size: 14px;
}

.lblPositionAddress {
  font-family: "Fira Sans Semibold";
  font-size: 15px;
}

.lblPositionCity {
  font-family: "Open Sans Semibold";
  font-size: 13px;
}

/*
 * boutons
 */
.divPositionButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 18px 0 18px 0;
  overflow-x: scroll;
  scrollbar-width: none;
}

#divPositionButtonsAfter {
  content: "";
  position: sticky;
  z-index: 6;
  top: 0;
  right: -1px;
  height: 45px;
  width: 41px;
  background: linear-gradient(90deg,#fff0,var(--false-white) 40%);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  opacity: 1;
  visibility: visible;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-end;
}

#divPositionButtonsAfter > div {
  pointer-events: none;
  height: 20px;
  width: 28px;
  background-image: url("assets/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right 3px top 50%;
  background-size: 20px;
  transition: transform 0.2s ease-out;
}

#divPositionButtonsAfter.reverse > div {
  transform-origin: center;
  transform: rotate(-180deg);
}

.divPositionButtons::-webkit-scrollbar {
  display: none;
}

.lblPositionImg {
  height: 25px;
  width: 25px;
  background-size: 25px;
  background-repeat: no-repeat;
  margin-right: 6px;
}

.lblPositionShareImg {
  -webkit-mask: url("assets/share.svg") center;
  mask: url("assets/share.svg") center;
}

.lblPositionNearImg {
  -webkit-mask: url("assets/isochrone-white.svg") center;
  mask: url("assets/isochrone-white.svg") center;
}

.lblPositionRouteImg {
  -webkit-mask: url("assets/syrendre-white.svg") center;
  mask: url("assets/syrendre-white.svg") center;
}

.lblPositionSignalImg {
  -webkit-mask: url("assets/signal.svg") center;
  mask: url("assets/signal.svg") center;
}

.lblPositionLandmarkImg {
  -webkit-mask: url("assets/landmark-white.svg") center;
  mask: url("assets/landmark-white.svg") center;
}

.lblPositionLandmarkEditImg {
  -webkit-mask: url("assets/edit-white.svg") center;
  mask: url("assets/edit-white.svg") center;
}

.btnPositionButtons {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  color: white;
  background-color: var(--dark-green);
  border-radius: 50px;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: none;
  white-space: nowrap;
  font-family: "Open Sans Semibold";
  font-size: 12px;
}

.btnPositionButtons.secondary {
  color: var(--dark-green);
  background-color: #fff0;
  border: 1px solid var(--dark-green);
  box-sizing: border-box;
}

.btnPositionButtons > label {
  background-color: white;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.btnPositionButtons.secondary > label {
  background-color: var(--dark-green);
}

/*
 * coordonnées
 */
.divPositionCoord {
  margin: 0;
  color: var(--darkish-grey);
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
}

.divPositionCoord > span {
  white-space: nowrap;
}

#positionCoordsSpan {
  text-decoration: underline;
  display: flex;
  align-items: center;
}

#positionCoordsSpan::after {
  content: "";
  display: inline-block;
  background-image: url("assets/copy.svg");
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

/*
 * popup
 */

.maplibregl-popup-content > div {
  position: relative;
  padding: 24px;
  font-family: "Open Sans";
  font-size: 13px;
}

.maplibregl-popup-content > div > .divPositionTitle {
  margin-right: 30px;
}

.maplibregl-popup {
  position: fixed;
  z-index: 9999;
  transform: var(--popup-transform) !important;
}

.divPopupClose {
  width: 30px;
  height: 30px;
  background-image: url("assets/clearSearch.svg");
  background-size: 30px;
  position: absolute;
  right: 15px;
  top: 20px;
}

.maplibregl-popup-content {
  color: var(--dark-grey);
  border-radius: 15px;
  padding: 0;
}

.maplibregl-popup-content > div > div:nth-child(2).divPopupContent {
  margin-top: 25px;
}

.maplibregl-popup-tip {
  display: none;
}

.divLegendContainer {
  display: flex;
}

.divLegendDescription {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 10px;
}

.positionTitle2 {
  font-family: "Open Sans Semibold";
  font-size: 15px;
  margin: 4px 0;
}

.positionTitle3 {
  font-family: "Open Sans Semibold";
  font-size: 14px;
  margin: 4px 0;
}

.positionSubTitle {
  font-family: "Open Sans";
  font-size: 13px;
  color: var(--mid-grey);
  margin: 0;
}

.unescoDate {
  display: flex;
  align-items: center;
  gap: 10px;
}

.unescoDate > p {
  display: flex;
  align-items: right;
  flex-direction: column;
  gap: 10px;
}

.positionHtmlBefore {
  line-height: 20px;
}

.positionHtmlBefore b {
  font-family: "Open Sans Semibold";
  font-weight: normal;
}

.positionInfo {
  font-family: "Open Sans";
  padding-left: 50px;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 0;
  min-height: 44px;
  display: flex;
  align-items: center;
  background-position: 10px center;
  color: var(--darker-green);
  background-color: var(--light-green);
  border-radius: 100px;
}

.positionInfo a {
  color: var(--darker-green);
  text-decoration: underline;
}

.positionHours {
  background-image: url("assets/horaire.svg");
  color: var(--dark-grey);
  background-color: unset;
}

.positionWeb {
  background-image: url("assets/web.svg");
  width: fit-content;
}

.positionWeb::after {
  content: "";
  background-image: url("assets/external-link-green.svg");
  width: 20px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}

.positionTelephone {
  background-image: url("assets/telephone.svg");
  width: fit-content;
}

.monumentsHistoriquesImageAuthor {
  font-size: 12px;
  color: var(--mid-grey);
  margin-top: 3px;
}

.monumentsHistoriquesContent {
  font-family: "Open Sans";
}

.monumentsHistoriquesContent b {
  font-size: 15px;
  margin-bottom: -10px;
  display: block;
  font-family: "Fira Sans Semibold";
}
