/***********************************
 * controle "Où suis-je ?"
 ***********************************/

.fontLight {
  font-family: "Open Sans";
  color: var(--dark-grey);
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

/*
 * titre
 */
.divPositionTitleWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 10px 17px 0px;
}

.divPositionTitle {
  text-align: left;
  font-size: 17px;
  font-family: "Fira Sans Semibold";
}

#position-landmark-advanced-tools {
  font-family: "Open Sans Semibold";
  font-size: 12px;
}

/*
 * info géocodage
 */
.divPositionAdressOriginInfo {
  color: var(--darker-green);
  background-color: var(--light-green);
  padding: 14px 10px;
  border-radius: 6px;
  position: relative;
}

.divPositionAdressOriginInfo::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  -webkit-mask: url("assets/help.svg") center;
  mask: url("assets/help.svg") center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: var(--darker-green);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.divPositionAdressOriginInfo.event {
  color: var(--event-dark);
  background-color: var(--event-light);
}

.divPositionAdressOriginInfo.event::after {
  background-color: var(--event-dark);
}


/*
 * addresse
 */
.divPositionAddress {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.lblPositionImgAddress {
  width: 28px;
  height: 28px;
  background-color: var(--light-green);
  border-radius: 100%;
  margin-right: 8px;
  align-self: flex-start;
}

.lblPositionImgAddress::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  -webkit-mask: url("assets/location-pin.svg") center;
  mask: url("assets/location-pin.svg") center;
  -webkit-mask-size: 28px;
  mask-size: 28px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: var(--darker-green);
}

.lblPositionImgAddress.event {
  background-color: var(--event-light);
}

.lblPositionImgAddress.event::before {
  background-color: var(--event-dark);
}

.divPositionSectionAddress {
  text-align: left;
  font-size: 14px;
}

.lblPositionAddress {
  font-family: "Fira Sans Semibold";
  font-size: 15px;
}

.lblPositionCity {
  font-family: "Open Sans Semibold";
  font-size: 13px;
}

/*
 * boutons
 */
.divPositionButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 18px 0 18px 0;
  overflow-x: scroll;
  scrollbar-width: none;
}

#divPositionButtonsAfter {
  content: "";
  position: sticky;
  z-index: 6;
  top: 0;
  right: -1px;
  height: 45px;
  width: 41px;
  background: linear-gradient(90deg,#fff0,var(--false-white) 40%);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  opacity: 1;
  visibility: visible;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-end;
}

#divPositionButtonsAfter > div {
  pointer-events: none;
  height: 20px;
  width: 28px;
  background-image: url("assets/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right 3px top 50%;
  background-size: 20px;
  transition: transform 0.2s ease-out;
}

#divPositionButtonsAfter.reverse > div {
  transform-origin: center;
  transform: rotate(-180deg);
}

.divPositionButtons::-webkit-scrollbar {
  display: none;
}

.lblPositionImg {
  height: 25px;
  width: 25px;
  background-size: 25px;
  background-repeat: no-repeat;
  margin-right: 6px;
}

.lblPositionShareImg {
  -webkit-mask: url("assets/share.svg") center;
  mask: url("assets/share.svg") center;
}

.lblPositionNearImg {
  -webkit-mask: url("assets/isochrone-white.svg") center;
  mask: url("assets/isochrone-white.svg") center;
}

.lblPositionRouteImg {
  -webkit-mask: url("assets/syrendre-white.svg") center;
  mask: url("assets/syrendre-white.svg") center;
}

.lblPositionSignalImg {
  -webkit-mask: url("assets/signal.svg") center;
  mask: url("assets/signal.svg") center;
}

.lblPositionLandmarkImg {
  -webkit-mask: url("assets/landmark-white.svg") center;
  mask: url("assets/landmark-white.svg") center;
}

.lblPositionLandmarkEditImg {
  -webkit-mask: url("assets/edit-white.svg") center;
  mask: url("assets/edit-white.svg") center;
}

.btnPositionButtons {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  color: white;
  background-color: var(--dark-green);
  border-radius: 50px;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: none;
  white-space: nowrap;
  font-family: "Open Sans Semibold";
  font-size: 12px;
}

.btnPositionButtons.event {
  background-color: var(--event-main);
}

.btnPositionButtons.secondary {
  color: var(--dark-green);
  background-color: #fff0;
  border: 1px solid var(--dark-green);
  box-sizing: border-box;
}

.btnPositionButtons.secondary.event {
  color: var(--event-main);
  border: 1px solid var(--event-main);
}

.btnPositionButtons > label {
  background-color: white;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.btnPositionButtons.secondary > label {
  background-color: var(--dark-green);
}

.btnPositionButtons.secondary.event > label {
  background-color: var(--event-main);
}

/*
 * coordonnées
 */
.divPositionCoord {
  margin: 0;
  color: var(--darkish-grey);
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
}

.divPositionCoord > span {
  white-space: nowrap;
}

#positionCoordsSpan {
  text-decoration: underline;
  display: flex;
  align-items: center;
}

#positionCoordsSpan::after {
  content: "";
  display: inline-block;
  background-image: url("assets/copy.svg");
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

/*
* immessive position
*/
#immersivePostionHtmlBefore {
  font-family: "Open Sans";
  font-size: 13px;
}

#immersivePostionHtmlBefore div.event {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
}

.eventImmersiveHeader {
  display: flex;
  margin: 0;
  margin-bottom: 4px;
  gap: 14px;
}

.eventImmersiveImg {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  border: 3px solid white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.eventPuce {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: var(--event-main);
  border-radius: 100%;
  margin-right: 6px;
}

/*
 * popup
 */

.maplibregl-popup-content > div {
  position: relative;
  padding: 24px;
  font-family: "Open Sans";
  font-size: 13px;
}

.maplibregl-popup-content > div > .divPositionTitle {
  margin-right: 30px;
}

.maplibregl-popup {
  position: fixed;
  z-index: 9999;
  transform: var(--popup-transform) !important;
}

.divPopupClose {
  width: 30px;
  height: 30px;
  background-image: url("assets/clearSearch.svg");
  background-size: 30px;
  position: absolute;
  right: 15px;
  top: 20px;
}

.maplibregl-popup-content {
  color: var(--dark-grey);
  border-radius: 15px;
  padding: 0;
}

.maplibregl-popup-content > div > div:nth-child(2).divPopupContent {
  margin-top: 25px;
}

.maplibregl-popup-tip {
  display: none;
}

.divLegendContainer {
  display: flex;
}

.divLegendDescription {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 10px;
}

.positionTitle {
  margin: 0;
  display: flex;
}

.positionTitleDateicon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("assets/date.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(4px);
  margin-right: 4px;
}

.positionTitle2 {
  font-family: "Open Sans Bold";
  font-size: 13px;
  margin: 4px 0;
}

.positionSubTitle {
  font-family: "Open Sans";
  font-size: 13px;
  color: var(--mid-grey);
  margin: 0;
}

.unescoDate {
  display: flex;
  align-items: center;
  gap: 10px;
}

.unescoDate > p {
  display: flex;
  align-items: right;
  flex-direction: column;
  gap: 10px;
}

.positionHtmlBefore {
  line-height: 20px;
}

.positionHtmlBefore b {
  font-family: "Open Sans Semibold";
  font-weight: normal;
}

.positionHtmlAfter img {
  border-radius: 6px;
}

.positionInfo {
  font-family: "Open Sans Semibold";
  padding-left: 5px;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 0;
  min-height: 44px;
  display: flex;
  align-items: center;
  background-position: 10px center;
  color: var(--darker-green);
  background-color: var(--light-green);
  border-radius: 100px;
}

.positionInfo.event {
  background-color: var(--event-light);
  color: var(--event-dark);
}

.positionInfo::before {
  background-color: var(--darker-green);
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin-right: 5px;
}

.positionInfo.event::before {
  background-color: var(--event-dark);
}

.positionInfo a {
  color: var(--darker-green);
  text-decoration: none;
}

.positionInfo.event a {
  color: var(--event-dark);
}

.positionHours {
  color: var(--dark-grey);
  background-color: unset;
}

.positionHours::before {
  background-color: unset;
  background-image: url("assets/horaire.svg");
}

.positionWeb {
  width: fit-content;
}

.positionWeb::before {
  -webkit-mask: url("assets/web.svg") center left;
  mask: url("assets/web.svg") center left;
}

.positionWeb::after {
  content: "";
  background-color: var(--darker-green);
  -webkit-mask: url("assets/external-link-green.svg") center;
  mask: url("assets/external-link-green.svg") center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  width: 20px;
  height: 30px;
}

.positionWeb.event::after {
  background-color: var(--event-dark);
}

.positionTelephone {
  width: fit-content;
}

.positionTelephone::before {
  -webkit-mask: url("assets/telephone.svg") center left;
  mask: url("assets/telephone.svg") center left;
}

.positionEmail {
  width: fit-content;
}

.positionEmail::before {
  -webkit-mask: url("assets/email.svg") center;
  mask: url("assets/email.svg") center;
}


.monumentsHistoriquesImageAuthor {
  font-size: 12px;
  color: var(--mid-grey);
  margin-top: 3px;
}

.monumentsHistoriquesContent {
  font-family: "Open Sans";
}

.monumentsHistoriquesContent b {
  font-size: 15px;
  margin-bottom: -10px;
  display: block;
  font-family: "Fira Sans Semibold";
}

.monumentsHistoriquesContent em {
  font-family: "Open Sans Semibold";
  text-emphasis: none;
  font-style: normal;
}

.foldable {
  max-height: 72px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease-in-out;
  position: relative;
  margin: 0;
}

.foldableInput + .foldable::after {
  content: "...";
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--false-white);
}

.foldableInput:checked + .foldable {
  max-height: none;
}

.foldableInput:checked + .foldable::after {
  display: none;
}

.foldableInput ~ .foldableLabel::before {
  content: "+";
  display: inline-block;
}

.foldableInput:checked ~ .foldableLabel::before {
  content: "-";
  display: inline-block;
}

.foldableInput ~ .foldableLabel::after {
  content: "plus";
  display: inline-block;
}

.foldableInput:checked ~ .foldableLabel::after {
  content: "moins";
  display: inline-block;
}

.foldableLabel {
  cursor: pointer;
  color: var(--darker-green);
  font-family: "Open Sans Semibold";
  display: block;
  margin: 8px 0 20px 0;
}

.foldableLabel.event {
  color: var(--event-dark);
}

.positionInfo::before {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
