#routeDrawModeSelect {
  max-height: 0px;
  transition: max-height 0.7s ease-in-out;
  font-size: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 100%;
  bottom: calc(100% + 8px);
  background-color: white;
  border-radius: 6px;
}

#routeDrawMode:not(.routeDrawModeClose):focus-within > #routeDrawModeSelect,
#routeDrawMode:not(.routeDrawModeClose):hover > #routeDrawModeSelect {
  max-height: 76px;
}

.routeDrawIcon {
  display: inline-block;
  width: 20px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.routeDrawChevronRight {
  background-image: url("assets/route-draw/chevron_right.svg");
  position: absolute;
  right: -6px;
}

.routeDrawPedestrian {
  background-image: url("assets/directions/pieton.svg");
  margin-right: 8px;
  background-size: 13px;
}

.routeDrawCar {
  background-image: url("assets/directions/voiture.svg");
  margin-right: 8px;
  background-size: 16px;
}

#routeDrawModeSelectMode, #routeDrawModeSelectTransport {
  display: flex;
  flex-direction: column;
}

#routeDrawSelectGuided {
  position: relative;
  padding-top: 4px;
}

#routeDrawModeSelectModeFree {
  padding-bottom: 4px;
}

#routeDrawModeSelectTransportPedestrian {
  padding-top: 4px;
}

#routeDrawModeSelectTransport {
  position: absolute;
  background-color: white;
  width: calc(100% + 30px);
  left: 100%;
  transition: left 0.2s ease-out;
}

#routeDrawSelectGuided:focus-within > #routeDrawModeSelectTransport,
#routeDrawSelectGuided:hover > #routeDrawModeSelectTransport {
  z-index: 1;
  top: -8px;
  left: -15px;
}

#routeDrawMode.routeDrawModeClose #routeDrawModeSelectTransport {
  transition: unset;
}

.routeDrawSelectChoice {
  margin: 8px 15px;
  display: flex;
  align-items: center;
  height: 18px;
}

#routeDrawSaveSummary > div,
#routeDrawSummary > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#routeDrawSaveSummary > div > label,
#routeDrawSummary > div > label {
  margin-right: 10px;
}

.routeDrawTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.routeDrawResultsTitle {
  font-size: 15px;
  font-family: "Fira Sans Semibold";
  margin-top: 0;
}

.routeDrawSummaryTransport {
  display: block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.lblRouteDrawSummaryTransportpedestrian {
  background-image: url("assets/route-draw/pieton-darkgrey.svg");
}

.lblRouteDrawSummaryTransportcar {
  background-image: url("assets/route-draw/voiture-darkgrey.svg");
}

.routeDrawSummaryDuration,
.routeDrawSummaryDistance {
  font-family: "Fira Sans Medium";
  font-size: 15px;
}

.routeDrawSummaryDuration,
.routeDrawSummaryDistance,
.routeDrawSummaryDPlus,
.routeDrawSummaryDMinus{
  background-position: 0px center;
  background-repeat: no-repeat;
  padding-left: 35px;
}

.routeDrawSummaryDuration {
  background-image: url("assets/route-draw/clock.svg");
  color: var(--dark-green);
}

.routeDrawSummaryDistance {
  background-position: 6px center;
  background-image: url("assets/route-draw/arrow-leftright.svg");
}

.routeDrawSummaryDPlus {
  background-image: url("assets/route-draw/arrow-topright.svg");
}

.routeDrawSummaryDMinus {
  background-image: url("assets/route-draw/arrow-bottomright.svg");
}

.routeDrawSummaryDPlus, .routeDrawSummaryDMinus {
  font-family: "Open Sans Semibold";
}

.detailsHeader {
  font-size: 15px;
  font-family: "Fira Sans Semibold";
}

.routedrawDetails {
  display: flex;
  flex-direction: column;
  font-size: 11px;
}

.routeDrawWaypointDiv {
  color: white;
  background-color: var(--dark-green);
  border-radius: 8px;
  padding: 14px 18px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.routeDrawWaypointTextDiv {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans Semibold";
  flex-grow: 1;
  margin-left: 12px;
  font-size: 12px;
}

.routeDrawWaypointLabel {
  font-size: 15px;
  font-family: "Fira Sans Semibold";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.routeDrawWaypointImg {
  width: 30px;
  height: 100%;
  background-image: url("assets/route-draw/details-step.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

.routeDrawFirstWaypointImg {
  background-image: url("assets/route-draw/details-departure.svg");
}

.routeDrawLastWaypointImg {
  background-image: url("assets/route-draw/details-arrival.svg");
}

.routeDrawStepDiv {
  color: var(--dark-grey);
  height: 32px;
  font-family: "Open Sans Semibold";
  display: flex;
  align-items: center;
  padding: 4px 8px;
}

.routeDrawStepDiv::before {
  content: "";
  display: inline-block;
  background-image: url("assets/directions/location-between.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#routeDrawSaveHeader {
  font-family: "Fira Sans Medium";
  font-size: 17px;
}

#routeDrawSummary > p {
  font-family: "Fira Sans Semibold";
  font-size: 15px;
}

#routeDrawSaveNameInputDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#routeDrawSaveNameInput {
  font-family: "Open Sans";
  border-radius: 8px;
  outline: none;
  box-shadow: 0px 0px 0px 0px;
  border: 1px solid var(--grey-2);
  padding: 9px 8px;
  flex-grow: 1;

}

#routeDrawSaveNameInput::placeholder {
  color: var(--mid-grey);
}

#routeDrawSaveNameInput:focus {
  border: 2px solid var(--dark-green);
}

#routeDrawSaveNameInputSubmit {
  color: white;
  background-color: var(--dark-green);
  width: fit-content;
  padding: 8px 13px;
  border-radius: 100px;
  margin-left: 15px;
  font-family: "Open Sans Semibold";
}
