#searchContainer {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3000;
  height: 40px;
  display: flex;
  justify-content: center;
}

#search {
  display: flex;
  padding: 0;
  margin: auto;
  margin-top: 0;
  margin-bottom: 15px;
  position: relative;
  width: 95%;
  flex-grow: 0;
}

#search input {
  color: #4b4b4b;
  margin: 0;
  margin-top: 10px;
  width: 100%;
  height: 32px;
  border-radius: 8px;
  padding: 9px 33px 9px 33px;
  border: 0px;
  background-color: white;
  font-family: "Open Sans Bold";
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

#search input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 0px;
  border: 2px solid #26a581;
  padding: 7px 31px 7px 31px;
}

#search input::placeholder {
  color: #bac3ca;
  opacity: 0.6;
}

#searchImage {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 26px;
  margin-left: 8px;
  background-image: url("assets/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

#searchresultsWindow {
  width: 100%;
  color: #393939;
}

#searchResults {
  display: flex;
  flex-flow: column;
  position: relative;
  margin: 0 2.5%;
}

#resultsRech {
  position: relative;
  color: #393939;
  background-color: white;
  z-index: 3000;
  border-radius: 5px;
}

#resultsRechRecent:first-child {
  margin: 4px 0;
}

#resultsRechRecent{
  padding-bottom: 5px;
  border-bottom: solid 1px #D8DFE4;
}

#myGeoLocation > p,
.recentresult,
.autocompresultselected,
.autocompresult {
  padding: 0.6em 0.2em;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px;
  text-align: left;
  padding-left: 25px;
}

.autocompresult em, .recentresult em {
  opacity: 0.9;
  font-size: 0.9em;
  font-style: normal;
  font-family: "Open Sans";
}

.autocompresult:last-child {
  border-bottom: none;
}

.autocompresultselected {
  background-color: #E7E7E7;
  transition: background-color 0.1s;
}

#myGeoLocation > p {
  background-image: url("assets/ma-geolocation.svg");
}

.recentresult {
  background-image: url("assets/recentresult.svg");
}

.autocompresult {
  background-image: url("assets/autocompresult.svg");
}

#closeSearch {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 16px;
  right: -10px;
  width: 58px;
  height: 35px;
  background-image: url("assets/close.svg");
}

@media (min-width: 615px), screen and ((min-aspect-ratio: 1/1) and (min-width:400px)) {
  #searchContainer {
    width: 40%;
    left: 85px;
  }
}
