#signalementOSMWindow,
#signalementWindow {
  font-family: "Open Sans";
}

#signalementOSMWindow a,
#signalementWindow a {
  color: var(--dark-green);
  text-decoration: underline;
}
#signalementOSMWindow a::after,
#signalementWindow a::after {
  content: "";
  display: inline-block;
  background-image: url("assets/external-link.svg");
  width: 20px;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 0.8em;
  background-position: bottom;
}

.signalementTitle {
  font-family: "Fira Sans Semibold";
  font-size: 17px;
}

.signalementSubTitle {
  font-family: "Fira Sans Medium";
}

.signalementText {
  text-align: left;
  margin: 5px 0 0 0;
}

.signalementSubSection > .signalementText {
  background-color: var(--light-green);
  padding: 15px 8px;
  margin: 15px 5px;
  border-radius: 5px;
}

#signalementWindow .signalementSubSection > .signalementText > a {
  color: var(--darker-green);
  text-decoration: none;
  font-family: "Open Sans Semibold";
  display: flex;
  align-items: center;
}

#signalementWindow .signalementSubSection > .signalementText > a::after {
  background-image: url("assets/external-link-green.svg");
  width: 40px;
  height: 2em;
  background-size: 1.2em;
  background-position: center;
}

.signalementForm {
  display: flex;
  flex-direction: column;
}

.signalement-select,
.signalement-textarea,
.signalement-input-text {
  font-family: "Open Sans Semibold";
  margin: 10px 0;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding: 13px 8px 0 8px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--grey-2);
  color: var(--dark-grey);
}

.signalement-select:focus,
.signalement-textarea:focus,
.signalement-input-text:focus {
  outline: none;
  border-color: var(--dark-green);
}

.signalement-select {
  padding: 0 8px;
}

.signalement-select {
  font-family: "Fira Sans Bold";
  color: var(--darkish-grey);
}

.signalement-textarea {
  resize: none;
  height: 7em;
  padding: 21px 8px 8px 8px;
}

.signalement-submit {
  appearance: unset; /* for ios */
  display: block;
  margin: auto;
  border: none;
  border-radius: 70px;
  background-color: var(--dark-green);
  padding: 14px 28px;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 236px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
}
