/***********************************
 * fenetres ou onglets
 ***********************************/

#informationsWindow,
#isochroneWindow,
#directionsWindow,
#directionsResultsWindow,
#positionWindow,
#layerManagerWindow,
#poiWindow,
#routeDrawWindow {
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color:var(--dark-grey);
  font-size: 1em;
  text-align: left;
  overflow-y: scroll;
}

#positionWindow,
#routeDrawWindow,
#isochroneWindow,
#layerManagerWindow {
  overflow-y: visible;
}

.windowClose {
  width: 34px;
  height: 34px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("assets/close.svg");
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 3001;
}

#informationsWindowContent {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

#informationsImg {
  width: 100%;
}

/* Bottom menu */
#tabContainer {
  position: absolute;
  top: calc(100% - 72px - max(calc(var(--safe-area-inset-bottom) - 10px - var(--nav-bar-height)), 20px));
  height: fit-content;
  width: 100%;
  background-color: var(--false-white);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  z-index: 2998;
  box-sizing: border-box;
  padding: 0 6% 44px 6%;
}

#sheetHeader,
#tabHeader {
  width: 100%;
  height: 40px;
  position: sticky;
  top: var(--safe-area-inset-top);
  background-color: inherit;
}

.scrolledMax > #tabHeader {
  z-index: 3000;
}

.scrolledMax::before {
  content: "";
  display: block;
  padding-top: var(--safe-area-inset-top);
  background-color: inherit;
  width: inherit;
  z-index: 3000;
  position: fixed;
  top: 0;
  left: 0;
}

#tabHandle {
  width: 30px;
  height: 30px;
  background-size: cover;
  margin: auto;
  margin-top: 5px;
  background-image: url(../html/img/navheader.svg);
  flex-shrink: 0;
}

.scrolledMax > #tabHeader > #tabHandle {
  background-image: url(../html/img/navheaderarrow.svg);
}

#sheetClose,
#tabClose {
  width: 35px;
  height: 35px;
  background-size: cover;
  background-image: url(./assets/close.svg);
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  top: 5px;
}

.elevationLineCanvas {
  touch-action: none;
}
