/***********************************
 * fenetres ou onglets
 ***********************************/

#informationsWindow,
#isochroneWindow,
#directionsWindow,
#directionsResultsWindow,
#positionWindow,
#layerManagerWindow,
#poiWindow,
#routeDrawWindow {
  margin-top: 10px;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color:#3F4A55;
  font-size: 1.1em;
  text-align: justify;
  overflow-y: scroll;
}

#isochroneWindow,
#layerManagerWindow {
  overflow-y: auto;
  overflow-x: hidden;
}

.windowClose {
  width: 34px;
  height: 34px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("assets/close.svg");
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 3001;
}

#informationsWindowContent {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

/* Bottom menu */
#tabContainer {
  position: absolute;
  top: calc(100% - 72px - max(calc(var(--safe-area-inset-bottom) - 10px - var(--nav-bar-height)), 0px));
  height: fit-content;
  width: 100%;
  background-color: #f4f6f8;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: #3f4a55;
  display: flex;
  flex-direction: column;
  z-index: 101;
  box-sizing: border-box;
  padding: 0 6% 6% 6%;
}

#tabHeader {
  width: 30px;
  height: 30px;
  background-size: cover;
  align-self: center;
  background-image: url(../html/img/navheader.svg);
  flex-shrink: 0;
}

.elevationLineCanvas {
  touch-action: none;
}