#trackRecordContainer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#finishRecordContainer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#trackRecordWindow .thin {
  font-weight: thin;
  margin-bottom: 10px;
}

.trackRecordBtn {
  font-family: "Open Sans Semibold";
  font-size: 14px;
  padding: 12px 28px;
  border-radius: 100px;
  display : flex;
  justify-content: center;
  text-align: center;
}

#trackRecordContainer button {
  width: 158px;
  height: 48px;
}

.actionSheet-list.centerHorizontally {
  align-items: center;
}

.actionSheet-list > .trackRecordBtn {
  width: 245px;
}

.trackRecordBtn.primary {
  border-color: var(--dark-green);
  color: white;
  background-color: var(--dark-green);
  border: solid 1px;
}

.trackRecordBtn.secondary {
  border-color: var(--dark-green);
  color:  var(--dark-green);
  background-color: white;
  border: solid 1px;
}
.trackRecordBtn.terciary {
  border-style: none;
}

.startRecordPicto {
    background-image: url(../html/img/player.svg);
    height: 16px;
    width: 13px;
    background-size: cover;
    flex-shrink: 0;
  }

.whileRecordingPicto, .pauseRecordPicto {
    height: 30px;
    width: 30px;
    background-size: cover;
    flex-shrink: 0;
  }

  .whileRecordingPicto {
    background-image: url(../html/img/recording.svg);
  }
  .pauseRecordPicto {
    background-image: url(../html/img/pause.svg);
  }

  .btn-label {
    margin-left: 10px;
  }

