/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 @font-face {
  font-family: "Open Sans Semibold";
  src: url("OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Open Sans Extrabold";
  src: url("OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular.ttf");
}

[hidden] {
  display: none !important;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#146cac;
    font-family: "Open Sans Bold", -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    width:100%;
    color:white;
}

h3 {
  font-family: "Open Sans Semibold";
  color: #0B6BA7;
}

a {
  font-family: "Open Sans Semibold";
  color: #9FE4FF;
}

.leaflet-popup-content {
  user-select: text;
}

.leaflet-container a {
  color: #9FE4FF;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-bottom .leaflet-control-scale {
	margin-bottom: 10px;
}

.d-none {
  display: none !important;
}

.textCouche {
  font-family: "Open Sans Semibold";
  color: #0B6BA7;
}

#blueBg {
  width: 100vw;
  height: 100vh;
  background-color: #7fb5d3;
  z-index: 2999;
  position: fixed;
}

.centered {
  text-align: center;
}

.popup {
  text-align: left;
  padding: 12.5vh 20px 20px 20px;     /* image height is 200px (bottom 20px are overlapped with text) */
  margin: 0 auto;  /*offset vertical: half of image height and text area height */
                                  /* offset horizontal: half of text area width */
  background-color: #0B6BA799;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 30000;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

#messageContainer {
  background-color: white;
  border-radius: 5px;
  width: auto;
  margin: 0 auto;
  padding-top: 12px;
  max-width: 90%;
  max-height: 75%;
  overflow: auto;
  position: relative;
  font-family: 'Open Sans';
  color: #4b4b4b;
  font-size: 1.25em;
  padding-bottom: 1.5em;
}

#nePlusAff {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#chkNePlusAff {
  margin: 0 5px 0 0;
}

#messageContainer div {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.msgTitle {
  color: #0B6BA7;
  font-family: 'Open Sans Bold',Arial,sans-serif;
  font-size: 1.3em;
  margin-top: 0.2em;
}

.msgRegular {
  font-family: 'Open Sans',Arial,sans-serif;
}

.msgGreen {
  font-family: 'Open Sans Bold',Arial,sans-serif;
  color: #00ae90;
  cursor: pointer;
}

#nePlusAff {
  margin: 2em 0 2em 0;
  font-family: 'Open Sans Bold';
  font-size: 0.88em;
}

.btnGpp {
  display: inline-block;
  color: white;
  background-color: #0B6BA7;
  border-radius: 30px;
  padding: 10px 40px;
  font-family: 'Open Sans Extrabold',Arial,sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.leaflet-container .leaflet-control-attribution {
  line-height: 30px;
  height: 30px;
  background-color: rgba(64,64,64,0.7);
  color: white;
}

/* Map */
#map {
  min-height: 50vh;
  flex-grow: 1;
}

#cartoContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Menu Burger */
#menuItems {
  background-color: white;
  color: #4b4b4b;
  bottom: 0;
  position: absolute;
  width: 100vw;
  padding-top: 15px;
  border-radius: 5px 5px 0 0;
  padding-bottom: 15px;
  font-size: 15px;
}

#menuItems div, hr {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

#menuItems div {
  display: flex;
}

#menuItems div span{
  line-height: 34px;
}

#menuItems hr {
  border-color: #e5e5e5;
  border-width: 1px;
  border-style: solid;
}

#menuItems .bigMenuItem {
  font-family: 'Open Sans Bold';
}

.menuItemIcon {
  width: 34px;
  height: 34px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 5px 0 5px;
}

#menuItemLegendIcon {
  background-image: url("assets/legend.svg");
}


#menuItemInfoIcon {
  background-image: url("assets/info.svg");
}

#menuItemParamsIcon {
  background-image: url("assets/parameters.svg");
}

#menuItemParams {
  margin-bottom: 0 !important;
  margin-top: -7px;
}

.smallMenuItem {
  font-family: 'Open Sans';
}

#menuItemPlusLoin {
  background-color: #00ae90;
  color: white;
  border-radius: 5px;
  padding: 13px 0 13px 20px;
  margin-top: 30px;
}

/* fenetres infos et legende */
#infoWindow, #legendWindow {
  margin-top: -5px;
  position: relative;
  background: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color:#4b4b4b;
  font-size: 1.1em;
  text-align: justify;
  z-index: 3000;
}

#infoWindowClose, #legendWindowClose {
  width: 34px;
  height: 34px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("assets/close.svg");
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 3001;
}

#infoWindowContent, #legendWindowContent {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

/* Boutons */

input[type=radio]{
  /* hide original inputs */
  visibility: hidden;
  position: absolute;
}

input[type='radio'] + label:before {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #0B6BA7;
    margin-right: 10px;
    vertical-align: middle;
}

input[type='radio']:checked + label:before {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #0B6BA7;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #0B6BA7;
    box-shadow: inset 0 0 0 2px white;
    margin-right: 10px;
    vertical-align: middle;
}

/* Menu parametres */
#altMenuContainer {
  z-index: 3001;
  height: auto;
  top: 55px;
  display: flex;
  width: 100%;
  position: absolute
}

.altMenu {
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  color: #4b4b4b;
  width: 100%;
  font-size: 1.1em;
  flex-direction: column;
}

.altMenu div {
  border: 0px solid #D6D6D6;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.altMenu b {
  font-family: 'Open Sans Semibold';
}

#legalMenu, #privacyMenu, #plusLoinMenu {
  font-family: 'Open Sans';
}

#legalMenu a {
  color: #0B6BA7;
}

#plusLoinMenu div {
  padding-left: 18px;
  padding-right: 18px;
}

.plusLoinTitle {
  display: flex;
  flex-direction: row;
  position: relative;
}

.plusLoinTitle img {
  margin-top: 23px;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
}

.plusLoinTitleText {
  font-size: 2.5em;
  color: #7a7a7a;
  position: absolute;
  bottom: 0;
  left: 115px;
}

#ignRandoLogo {
  border-radius: 25px;
}

#imgIgnRandoPlayStore {
  width: 155px;
}

#imgIgnRandoAppStore {
  padding: 10px;
}

#gppLogo {
  margin-top: 23px;
}

#privacyMenu iframe {
  border: 0;
  height: 230px;
}

/* Menus */
#header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3000;
  height: 40px;
  display: flex;
  justify-content: center;
}

#search {
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#search input {
  color: #4b4b4b;
  margin: 0;
  margin-top: 10px;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 33px;
  padding-right: 33px;
  width: 100%;
  height: 35px;
  border: 0px solid #D6D6D6;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans Bold';
}

#search input::placeholder {
  color: #4b4b4b;
  opacity: 1;
}

#searchImage {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 18px;
  margin-left: 8px;
  background-image: url("assets/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

#backTopLeft {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 3001;
  top: 18px;
  left: 10px;
  margin-left: 8px;
  background-image: url("assets/back.svg");
  background-position: center;
  background-repeat: no-repeat;
}

#search input:focus {
  outline: none;
}

#resultsRech {
  position: absolute;
  color: #393939;
  background-color: white;
  z-index: 3000;
  top: 50px;
  left: 10px;
  width: calc(100% - 20px);
  border-radius: 5px;
}

#resultsRech p {
  border-bottom: solid 1px #D8DFE4;
  padding: 0.4em 0.2em;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

#resultsRech p:last-child {
  border-bottom: none;
}

.button {
  width: 34px;
  height: 34px;
  display: inline-block;
}

#catalogBtn, #geolocateBtn  {
  border: 5px solid white;
  border-radius: 60px;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: 25px; */
  right: 15px;
  background-color: #0B6BA7;
  z-index: 2998;
}

#catalogBtn {
  background-image: url("assets/layers.svg");
  position: absolute;
  top: 60px;
}

#geolocateBtn {
  background-image: url("assets/localisation.svg");
  position: absolute;
  bottom: 15px;
}

#menuBtn, #closeSearch {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  right: 0px;
  width: 58px;
  height: 35px;
}

#menuBtn {
  background-image: url("assets/menu.svg");
}

#closeSearch {
  background-image: url("assets/close.svg");
}

/* Autres menus */

#catalog {
  z-index: 30000;
  position: absolute;
  top: 60px;
  right: 8px;
  transition: 0.5s;
  overflow: auto;
  overflow-x: hidden; /* Disable horizontal scroll */
  width: 80%;
  max-width: 450px;
  padding-top: 15px;
  border-radius: 5px;
}


#catalog, #reglages, #parameters, #credits, #cookies, #share {
  background-color: white;
  box-sizing: border-box;
}

#catalog .layer img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
}

#catalog #menuC {
  text-align: center;
  margin: 0 auto;
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.selectedLayer {
  border: solid 5px #0B6BA7;
  box-sizing: border-box;
}

#catalog #menuC {
  text-align: center;
  margin: 0 auto;
  max-width: 450px;
}

#catalog .layer {
  display: inline-block;
  padding-bottom: 1em;
  display: inline-block;
  padding-bottom: 1em;
  width: 26%;
}


.GPlayerInfo-originators {
  list-style-type: none;
  padding-left: 0;
}

.GPlayerInfo-originators a {
  color: #0B6BA7;
  text-decoration: none;
}

.GPlayerInfo-originators li {
  padding: 5px;
}

/* mode paysage */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  #menuItems {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    height: 100vh;
    border-radius: 5px 0 0 5px;
    right: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  #menuItemLegend {
    margin-top: 15px;
  }

  #menuItemPlusLoin {
    margin-top: 0;
  }
}

/* ecrans larges*/
@media (min-height: 500px) {
  #menuItems {
    display: block;
    bottom: 0;
    width: 100vw;
    height: auto;
    padding-top: 15px;
    border-radius: 5px 5px 0 0;
    padding-bottom: 15px;
    font-size: 15px;
  }

  #menuItemLegend {
    margin-top: 0px;
  }

  #menuItemPlusLoin {
    margin-top: 30px;
  }
}

@media (max-width: 350px) {
  .plusLoinTitleText {
    font-size: 2em;
    bottom: 14px;
  }
}

@media (min-width: 510px) {
  .plusLoinTitleText {
    bottom: 30px;
  }
}
